.content{padding-top:75px;text-align:center;}
.content span{background-color:#0cb39e;color:#fff;padding:5px 10px;border:1px solid #fff;cursor:pointer;}
.content .hover{background-color:#fff;color:#0cb39e;}
.content span:first-child{margin-right:-6px;border-radius:5px 0px 0px 5px;}
.content span:last-child{border-radius:0px 5px 5px 0px;}

.content-body { max-;margin:0 auto;background:url(/modules/images/feedback-bg.png) no-repeat 0 0;margin-top:62px;margin-bottom:100px;}
    
.feed-top {width: 420px;margin: 30px auto;text-align:center;}
.feed-top h1 { font-size:36px;font-weight:normal;color: #777;margin-bottom:10px;}
.feed-top p { font-size:14px;line-height:24px;}
.feed-top p span { font-size:16px;color:#4a98e7;}

.descript-text { width:100%;margin:20px 0;}
.descript-text div:first-child { float: left; text-align: right; width:30%;font-size:14px;color:#444;line-height:40px; }
.descript-text div:last-child {float:left;width:48%; }
.feed-title .txt-title,.feed-type .dropdown-list,.feed-name .txt-name,.feed-phone .txt-phone,.feed-description .txt-description {height:40px;line-height:40px; width:100%;box-sizing:border-box;border-radius:0px;font-size:14px;box-shadow: inset 0px 1px 4px #ececec;-moz-box-shadow: inset 0px 1px 4px #ececec;-webkit-box-shadow: inset 0px 1px 4px #ececec;}
.feed-type .dropdown-list option{font-size:14px;}
.feed-annex .file-annex { line-height:40px;height:40px;width:150px;opacity:0;position:absolute;left:0;top:0;cursor:pointer;}

#feed-images {padding:6px;overflow:hidden;}
#feed-images img { width:60px;height:60px;}
#feed-images li { width:60px;height:60px;position:relative;margin-right:20px;float:left;padding:1px;border:1px solid #ccc;line-height:60px;}
#feed-images li .iconfont { color:#4a98e7;font-size:18px;position:absolute;top:-8px;right:-8px;background-color:#fff;border-radius:50%;cursor:pointer;}

.feed-annex a {cursor:pointer;height:40px;line-height:40px;display:inline-block;position:relative;color:#666;font-size:18px;text-align:center;border-radius:2px;transition:background-color 0.3s;}
.feed-description div:first-child{ line-height:normal;}
.feed-description .txt-description { line-height:normal;height:170px;padding:4px 0;}
.feed-submit div:first-child { height:30px;}
#btn-feedback {border: 1px solid #0cb39e; width:200px;line-height:60px;height:60px;background-color:#0cb39e;color:#fff;text-align:center;cursor:pointer;
               transition:background-color 0.2s;font-size:24px;border-radius:5px;}

.feedback-details { ;border:1px solid #ccc;}
.feedback-details tr td{font-size:16px;}
.feedback-details tr:first-child {background-color:#ECFBF9;}
.feedback-details .item td i{color:#aaa;vertical-align:middle;}
.feedback-details .item td span{font-size:16px;color:#aaa;vertical-align:middle;}
.feedback-details .item .open-contents{text-decoration: underline;}
.feedback-details .item .span{font-size:16px;color:#555;}
.feedback-details .item .div{font-size:16px;color:#555;}
.feedback-details .item .tag{color:#0cb39e;}

/*联系客服*/
.title{font-size:30px;padding-top:30px;text-align:center;margin-bottom:50px;color:#000;}
.customer-service { background-color:#f2f2f2;}
.clear-after .content-txt li { float:left;width:275px;margin-bottom:50px;}
.content-txt li .iconfont { float:left;height:60px;line-height:55px;color:#0cb39e;text-align:center;
                            margin-right:10px;margin-left:20px;font-size:60px;}
.content-txt li div,.content-txt li div a { line-height:25px;color:#0cb39e;font-size:16px;}
