@{
    ViewBag.Title = "AddUsers";
    ViewBag.Name = "Setting";
    ViewBag.navName = "add-users"; 
}
@section css{
    <link href="/modules/manage/css/system/users.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/users"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.navName');
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">新建员工</span>
    
</div>
<div class="content-body mTop20 pBottom50">
    <ul class="table-add">
        <li>
            <span class="column-title">登录账号：</span> 
            <span><input type="text" maxlength="20" id="loginname" data-empty="账号不能为空" data-text="账号只能输入字母、数字和下划线，且必须包含字母" data-type="words" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">登陆密码：</span> 
            <span><input type="password" maxlength="20" id="loginpass" data-empty="密码不能为空" data-text="密码不能少于6位" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">确认密码：</span> 
            <span><input type="password" maxlength="20" id="confirmpass" data-empty="确认密码不能为空" data-text="密码不能少于6位" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">姓名：</span>
            <span><input type="text" maxlength="25" id="name"  data-empty="必填" class="input verify" /></span> 
        </li>
        
        
        <li>
            <span class="column-title">备注：</span>
            <textarea id="remark" maxlength="1000"></textarea>
        </li>

    </ul>
    <div class="mTop20">
        <div class="btn mLeft20 " id="btnSave">保存</div>
        <a class="btn-back mLeft10" href="/Organization/Users">
            返回
        </a>
    </div>
</div>
