@{
    ViewBag.Title = "后台 | 管理员列表";
    ViewBag.Name = "Setting";
    ViewBag.navName = "userlist"; 
}
@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/modules/manage/css/system/users.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/users"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.navName');
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">管理员列表</span>
    <div class="add-type"><a href="/Manage/System/AddUsers" class="btn-add">添加管理员</a></div>
</div>

<div class="content-body">
    <div class="search-items mTop20">
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="创建时间"  class="ipt-date"  />
        </div>
        <div class="right searth-module mTop5" data-text="输入账号/姓名" data-width="200"></div>
    </div>
    <div class="search-sort">
        <ul class=" left">
            <li>排序</li>
            <li class="sort-item hover" data-column="Users.CreateTime">
                创建日期
                <span class="asc"></span>
                <span class="desc hover"></span>
            </li>                     
        </ul>
        <div class="clear"></div>
    </div>
    <table class="table-list users-list mTop10">
        <tr class="tr-header">        
            <td width="100" style="width:15%;">账号</td>
            <td width="100" style="width:15%;">姓名</td>
            <td width="200">创建时间</td>
            <td width="120">操作</td> 
        </tr>
    </table>
    <div id="pager" class="mTop20 mRight10"></div>
</div>