@{
    ViewBag.Title = "厂盟智能 | 关于-企业供应链SaaS平台";
    ViewBag.name = "About";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @section css{
    <link href="/modules/css/about.css" rel="stylesheet" />
    <link href="/modules/plug/jquery-horizon-line-switch/css/style.css" rel="stylesheet" />
    <link href="/modules/plug/jquery-horizon-line-switch/css/reset.css" rel="stylesheet" />
    }
    @section scripts{
    <script src="/modules/plug/jquery-horizon-line-switch/js/modernizr.js"></script>
    <script src="/modules/plug/jquery-horizon-line-switch/js/main.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/about/about"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
    }
</head>
<div class="head-information">    
    <div class="information">
        <div>关于厂盟</div>
        <div>上海厂盟智能科技有限公司，成立于2016年3月。随着人们对服装个性化需求的日益增长，服装加工已步入柔性化生产时代，这使得生产加工企业也做出了相应变革，生产企业的订单由原来的少单大量转变为现在的小量多单，这种变革给企业管理带来了不小的负担。在这样的一个背景下，“智能工厂”应运而生，智能工厂是一款面向服装生产行业的流程管理SaaS应用平台，实现订单一对一可视化管理。我们的宗旨是：让服装生产变得更简单。</div>
    </div>
</div>

<section class="cd-horizontal-timeline">
    <div class="host-timeline">发展历程</div>
    <div class="timeline">
        <div class="events-wrapper">
	        <div class="events">
		        <ol>
			        <li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="15/10/2015" class="selected">15年10月</a></li>
			        <li><a href="#0" data-img="" data-date="15/3/2016">16年3月</a></li>			       
			        <li><a href="#0" data-img="" data-date="15/5/2016">16年5月</a></li>
		        </ol>
		        <span class="filling-line" aria-hidden="true"></span>
		    </div>
	    </div>
	    <ul class="cd-timeline-navigation">
		    <li><a href="#0" class="prev inactive">Prev</a></li>
		    <li><a href="#0" class="next">Next</a></li>
	    </ul>
    </div>

	<div class="events-content">
		<ol>
			<li class="selected" data-date="15/10/2015">
				<h2>智能工厂项目启动</h2>
				<em>2015.10</em>
				<p>	
					早在“厂盟智能”成立之前，“智能工厂”已处于设计和研发阶段，历时半年多，终于于2016年5月开始上线推广使用，7月上架阿里巴巴应用市场
				</p>                
			</li>
			<li data-date="15/3/2016">
				<h2>厂盟智能成立</h2>
				<em>2016.3</em>
				<p>	
					上海厂盟智能科技有限公司，成立于2016年3月，致力于服务中小型服装加工企业
				</p>                
			</li>
			<li data-date="15/5/2016">
				<h2>产品说明会</h2>
				<em>2016.5</em>
				<p>	
					我们在杭州举行了第一场“智能工厂”产品说明会，6月在广东东莞举行了第二场产品
				</p>                
			</li>			
		</ol>
	</div>
</section>
@*<div class="time-img hide">
    <img style="width:100%" src="/modules/images/about/about_02.png"/>
</div>*@

@* 核心团队 *@
<div class="team">    
    <div class="host-timeline">核心团队</div>
    <div class="team-content">
        <i class="iconfont left switch switch-left">&#xe654;</i>
        <ul class="content team-one"> 
            <li>
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">智能工厂</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">希望智能工厂能给大家带来更多的帮助</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
            <li style="margin:0">
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">希望智能工厂能给大家带来更多的帮助</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="content hide team-two"> 
            <li>
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">智能工厂2</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽2</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">希望智能工厂能给大家带来更多的帮助2</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽2</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
            <li style="margin:0">
                <div>
                    <i class="iconfont left mRight5">&#xe618;</i>
                    <div class="remarks">希望智能工厂能给大家带来更多的帮助2</div>
                </div>
                <div class="details">
                    <div class="head-photo"></div>
                    <div class="desc">
                        <div>杨洪丽2</div>
                        <div>CEO</div>
                    </div>
                </div>
            </li>
        </ul>
        <i class="iconfont switch right switch-right">&#xe653;</i>
    </div>        
</div>

<div class="contant-us"  id="list">    
    <div class="information">
        <div class="contant-details">
            <div class="phone">合作：<a>18221077623</a></div>
            <div class="email">邮箱：<a>customer@yunxiaokeji.com</a></div>        
            <div class="address">地址：<a href="http://j.map.baidu.com/FvBYv">上海市长宁区中山西路1279弄6号国峰科技大厦6楼</a></div>
            <div class="code">邮编：<a>200050</a></div>
        </div>
        <div class="beijing company" data-id="1">
            <i class="iconfont">&#xe657;</i>
            <div class="txt">北京分公司</div>
        </div>
        <div class="shanghai hover company" data-id="0">
            <i class="iconfont">&#xe657;</i>
            <div class="txt">上海总部</div>
        </div>
        <div class="hangzhou company" data-id="2">
            <i class="iconfont">&#xe657;</i>
            <div class="txt">杭州分公司</div>
        </div>
    </div>        
</div>




