
.selector .item { float:left;width:100px;}
.selector::after { display:block;content:"";clear:both;}
.selector .ico-radiobox {width: 20px;height: 20px;display: inline-block;background-color: #fff;border: solid 1px #ccc;text-align: center;border-radius: 11px;
                         cursor: pointer;box-shadow: 0 0 2px #ddd inset;line-height: 20px !important;float:left;margin-right:5px;}
.selector .hover span {background-color: #4a98e7;display: inline-block;height: 12px;width: 12px;border-radius: 6px;margin-top: 4px;}
.img-upload {background-color: #4a98e7;padding: 5px;border-radius: 3px;color: #fff;cursor:pointer; }

.category-img{margin-left:55px;}
.category-img::after{display:block;content:"";clear:both;}
.category-img li{ width:60px; height:60px; float:left; margin-left:10px; position:relative;padding:1px;line-height:60px;border:1px solid #eee;margin-top:0px;}

/*添加分类详情*/
.add-details { margin:30px 0 30px 50px;}
.add-details .details::after{display:block;content:"";clear:both;}
.add-details .details li{margin-bottom:20px;}
.details li div { width:100px;}
/*图片*/
.order-imgs { width:400px; height:65px; margin-left:85px; }
.order-imgs li{ width:60px; height:60px; float:left; margin-left:10px; position:relative;padding:1px;line-height:60px;border:1px solid #eee;}
.order-imgs li img{ width:60px; height:60px; }
.order-imgs .ico-delete { position:absolute; top:-9px; right:-7px;  }

.update-details .details::after{display:block;content:"";clear:both;}
.update-details .details li { margin-bottom: 20px;margin-top:10px; }


/*编辑*/
.update-type { margin-top:20px;}


