/*关于云销*/
.cloud-pin {height:350px; background:url(/modules/images/about/about_03.png) no-repeat bottom center #f8f8f8;}
.cloud-pin div{max-width:800px;margin:auto;font-size:14px; line-height:24px;color:#555;margin-bottom:40px;}

/*加入--合作*/
.join-teamwork { height:400px;margin-top:-2px;}
.join-teamwork .join{ width:50%;background-color:#008AE1;height:400px;float:left}
.join-teamwork .teamwork{ width:50%;background-color:#72B3E5;height:400px;float:right;}
.join-teamwork .title-join-teamwork{color:#FFFEFD;font-size:24px;text-align:center;margin-top:40px;}
.join-teamwork .txt-join-teamwork{color:#fff;max-width:350px;margin:10px auto;line-height:24px;}
/*联系我们*/
.contant-us {height:250px;width:1080px;margin:auto;}
.contant-us .information{margin-bottom:50px;float:left}
.contant-us .information div{margin-bottom:10px;color:#555;line-height:25px;}
.contant-us .bg-img{float:right;background: url(/modules/images/about/about_08.png)no-repeat right #fff; height:170px;width:500px;}
.map{width:100%;height:400px;}



