.head-information { height:600px;background:url(/modules/images/about/about-1.png)no-repeat center bottom #0cb39e; }
.head-information .information {max-width:800px;margin:auto;}
.head-information .information div:first-child{color:#fff;font-size:30px;text-align:center;padding-top:200px;opacity:0.9}
.head-information .information div:last-child{line-height:24px;margin-top:100px;color:#fff;opacity:0.7}

.team { height:400px;background-color:#f8f8f8;}
.team .content{margin:auto;width:1000px;padding-top:30px;}
.team .content::after{display:block;content:"";clear:both;}
.team .content li{float:left;width:300px;margin-right:50px;}
.content li .details { margin-top:50px;border-top:1px solid #ccc;padding-top:20px;}
.content li .head-photo {height: 40px;width:40px;background-color:#333;float:left;border-radius:50%;margin: 5px 20px 0px 20px;}
.content li .desc div{ color:#666;font-size:18px;}

/*联系我们*/
.contant-us {height:400px;background:url(/modules/images/about/about-2.png)no-repeat center;background-size: 100% 100%;}
.contant-us .information{width:1200px;margin:auto;position:relative;height:100%;}
.contant-us .information .contant-details{background-color:#0cb39e;width:600px;padding:30px 40px;}
.contant-us .information::before{display:block;content:"";height:100px;}
.information .contant-details div { color:#fff;font-size:18px;opacity:0.7;line-height:30px;}
.company { width:150px;cursor:pointer;}
.beijing { position:absolute;top:50px;right:150px;}
.shanghai { position:absolute;bottom:100px;right:70px;}
.hangzhou { position:absolute;bottom:40px;right:120px;}
.information i{float:left;margin-right:15px;font-size:24px;color:#aaa;}
.information .txt{color:#aaa;font-size:18px;}
.information .hover i{color:#0cb39e;}
.information .hover .txt{color:#0cb39e;}
/*地图*/
.map{width:100%;height:400px;}



