.case-title { line-height:40px;font-weight:bold;}
.main-content { background-color:#fff;}
.anli {background-color:#F3F2F0;height:150px; }
.case-industry { color:#0C090D;font-size:22px;margin-bottom:20px;padding-top:30px;margin-top:-3px;}
.line-case { border-bottom:1px solid #D8D5CF;margin-bottom:5px;width:200px;margin:auto;}
.industry {margin:20px auto;max-width:300px;}
.industry li{float:left;margin-right:30px;margin-left:50px;font-size:16px;cursor:pointer;padding:6px 17px; }
.industry li.hover{color:#fff;background-color:#008AE1;}
.example .example-anli-img {width:1000px;margin:auto; margin-bottom:30px;padding-top:20px;}
.example .example-anli-img div:first-child {margin-right:36px; }
.example-anli-img div img { width:480px;}
.example .solve-problem { margin-top:30px;}
.example .solve-problem span {font-size:16px;}
.example .details {width:1000px;margin:auto;margin-top:40px;}
.example .details-example { width:675px;}
.example .seaced-state { height:380px;width:1000px;margin:auto;margin-top:50px;}
.example .seaced-state img{float:left;margin-right:20px;}
.example .end-txt { width:1000px;margin:auto;}
.fontcolor { color:#73736F;font-size:14px;line-height:30px;text-indent:2em;}