.head-information { height:500px;
                    background:url(/modules/images/pricing/pricing-background1.png)no-repeat center bottom #0cb39e; }
.head-information .head-title{font-size:30px;color:#fff;padding-top:180px;margin:auto;text-align:center;}
.tilte-version{width:800px;margin:auto;}
.tilte-version::after{display:block;content:"";clear:both;}
.tilte-version .templent { width:300px;height:600px;background-color:#fff;margin-top:-200px;border:1px solid #ccc;
                           border-radius:5px;}
.tilte-version .templent .title-name{height:100px;background-color:#f8f8f8;color:#000;font-size:30px;text-align:center;
                                 line-height:100px;}
.tilte-version .templent .btn-click{background-color:#0cb39e;border-radius:5px;width:100px;text-align:center;
                                    margin:auto;padding:15px 40px;margin-top:40px;cursor:pointer;}
.tilte-version .templent .btn-click:hover{background-color:#068b7a;}
.tilte-version .templent .btn-click-contact{border:1px solid #0cb39e;border-radius:5px;width:100px;cursor:pointer;
                                            text-align:center;margin:auto;padding:15px 40px;margin-top:40px}
.btn-click-contact a {color:#0cb39e; }
.tilte-version .templent .btn-click-contact:hover { background-color:#0cb39e;}
.tilte-version .templent .btn-click-contact:hover a{ color:#fff;}
.tilte-version .templent .desc-version{width:180px;margin:auto;margin-top:60px;}
.tilte-version .templent .desc-version li{color:#666;margin-bottom:20px;}

/*价格表*/
.price-list { background:url(/modules/images/pricing/pricing-background2.png)no-repeat right bottom; }
.price-list::before { display:block;content:"";border-top:1px solid #ccc;width:600px;margin:auto;margin-top:100px;}
.price-list table { width:850px;margin:auto;margin-bottom:20px;border-collapse:collapse;}
.price-list table td{border-top:1px solid #ccc;text-align:center;height:50px;border-bottom:0px;
                     border-right:0px;position:relative;}
table td span{position:absolute;color: #1eb452;right:20px;}
.price-list table tr:first-child { background-color:#f8f8f8;}
.price-list table tr td:first-child{width:148px;}
.price-list table tr:last-child td{border-bottom:1px solid #ccc;}
.price-list table .use-number {border: 1px solid #0cb39e;padding: 2px 10px;color: #fff;background-color: #0cb39e;
                               border-radius: 25px;width: 55px;margin: auto;font-size:12px; }
.price-list .reminder { max-width:850px;margin:auto;margin-bottom:50px;}

.else { background-color:#f8f8f8;height:550px;}
.else .services-else{width:900px;margin:auto;position:relative;}
.else .services-else .icon-font{font-size:21px;color:#0cb39e;border:1px solid #0cb39e;border-radius:50%;padding:0px 3px 1px 4px;}
.else .services-else::after{display:block;content:"";clear:both;}
.else .services-else .iconfont{color:#0cb39e;font-size:18px;text-align:center;border:1px solid #0cb39e;
                               border-radius:50%;padding:5px;}
.else .services-else ul {width:258px;height:198px; border:1px solid #0cb39e;float:left;margin-right:50px;
                         position:relative;border-top:0px;background-color: #0cb39e;border-radius:3px;}
.services-else ul .content-title { color:#fff;font-size:18px;text-align:center;margin-top:40px;}
.services-else ul .content-desc {color:#fff;text-align:center;width:220px;margin:auto; margin-top:20px;margin-bottom:40px;}
.services-else ul .href-address { text-align:center;}
.services-else ul .href-address a{ color:#fff;border:1px solid #fff;font-size:12px;border-radius:5px;
                                   padding:5px 20px;cursor:pointer;}
.services-else ul .href-address a:hover{color:#0cb39e;background-color: #fff}
.services-else ul .font-icon { position:absolute;top:-35px;left:113px;z-index:3;}
.line-across { position:absolute;border-top:1px solid #0cb39e;width:620px;top:50px;left:128px;}
.line-across-one { position:absolute;border-right:1px solid #0cb39e;height:50px;top:50px;left:128px;}
.line-across-two { position:absolute;border-right:1px solid #0cb39e;height:75px;top:32px;left:438px;}
.line-across-three { position:absolute;border-right:1px solid #0cb39e;height:50px;top:50px;left:748px;}


