.head-information { height:800px;background:url(/modules/images/product/product-top-bg.png) no-repeat bottom right #0cb39e;
                    position:relative;}
.information { width:100%;margin:auto;position:absolute;text-align:center;bottom:-5px;}

.bgcolor { background-color:#f8f8f8;}
.item .item-content {width:90%;margin:0 auto;text-align:center;}
.item .title{font-size:30px;color:#000;line-height:35px;padding-top:50px;}
.item .title-desc{margin-top:30px;}
.item .title-desc span{font-size:18px;color:#666;line-height:30px;display:block;}
.item .img{margin-top:30px;}
.item .img img{margin-bottom:50px;box-shadow: 3px 3px 3px #ccc;}