.head-information { height:800px;background:url(/modules/images/product/product-top-bg.png) no-repeat bottom right #0cb39e;
                    position:relative;}
.information { width:100%;margin:auto;position:absolute;text-align:center;bottom:-5px;}

/*共用*/
.title { font-size:30px; color:#000;margin-bottom:40px;}
.title-desc { font-size:18px;color:#666;line-height:30px;}
.public-desc{width:1200px;margin:auto;}
.public-desc::after{display:block;content:"";clear:both; }

.workbench {height:700px; }
.workbench .public-desc .workbench-desc-txt{float:right;margin-top:100px;width:400px;margin-right:50px;}

/*客户*/
.customer {height:600px;background-color:#f8f8f8; }
.customer .public-desc .customer-desc-txt{float:left;margin-top:130px;width:300px;margin-left:50px;}
/*订单*/
.order {height:600px;background-color:#f2f2f2; }
.order .public-desc .order-desc-txt{float:right;margin-top:100px;width:300px;margin-right:50px;}

/*客户*/
.task {height:600px; }
.task .public-desc .task-desc-txt{float:left;margin-top:130px;width:300px;margin-left:50px;}

/*材料*/
.product {height:600px;background-color:#f2f2f2; }
.product .public-desc .product-desc-txt{float:right;margin-top:100px;width:300px;margin-right:50px;}