.head-information {height:500px;background:url(/modules/images/services/service-top-bg.png)no-repeat bottom right #0cb39e;}
.head-information .information{width:1200px;margin:auto;padding-top:200px;text-align:center;}
.trait::after {display:block;content:"";clear:both; }
.trait li { float:left;width:400px;}
.trait li .iconfont { font-size:60px;color:#fff;}
.trait li .font24 { opacity:0.9}
.trait li .trait-desc { color:#fff;opacity:0.7;}

.services-project {height:600px;background-color:#f8f8f8;}
.services-project .project{width:1050px;margin:auto;}
.project::after {display:block;content:"";clear:both; }
.services-project .project li{width:300px;height:360px;margin-right:50px;border:1px solid #aaa;
                              text-align:center;float:left;margin-left:10px;}
.project li .project-title { color:#0cb39e;font-size:24px;margin-top:5px;margin-bottom:20px}
.project li .project-desc { color:#666;line-height:30px;width:260px;margin:auto;}

.secure { height:500px;background:url(/modules/images/services/service-bg.png) center;background-size:100% 100%;}
.secure .secure-desc{width:552px;margin:auto;margin-bottom:60px;}
.secure .secure-desc::after{display:block;content:"";clear:both; }
.secure-desc li { width:150px;text-align:center;float:left;margin-right:50px;cursor:pointer;}
.secure-desc li .iconfont{font-size:30px;color:#fff;padding:10px;border:1px solid #fff;border-radius:50%;}
.secure-desc li .secure-desc-title { color:#fff;font-size:18px;opacity:0.7;margin-top:22px;padding:5px;}
.secure-desc .hover .secure-desc-title{background:rgba(12,179,158,0.7);opacity:1;color:#fff;
                                       border-radius:5px;position:relative;}
.secure-desc .hover .triangle{position:absolute;top: -10px;left: 68px;border-left: 7px solid rgba(12,179,158,0);
                                 border-bottom: 10px solid rgba(12,179,158,0.7);}
.secure-desc .hover .triangle2{position:absolute;top: -10px;right: 68px;border-right: 7px solid rgba(12,179,158,0);
                                 border-bottom: 10px solid rgba(12,179,158,0.7);}
.secure .secure-desc-txt{width:1000px;margin:auto;}
.secure .secure-desc-txt .secure-txt{color:#fff;line-height:30px;font-size:18px;}