/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important;background-color:#f2f4f8; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;resize:none;padding:2px 5px;width:300px;}
textarea:focus { border:solid 1px #666;}
table { border-collapse:collapse;}
select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

/*头部*/
.header {  height:50px; width:100%; background-color:#2F73B8; position:fixed; top:0; z-index:1999; opacity:0.9; box-shadow:0 0 5px #2F73B8;}
.header .menu li{float:left;margin-right:20px;line-height:50px;cursor:pointer;position:relative;}

header .logo {margin-top:13px; margin-left:10px; }
header .logo img{ height:26px; width:26px; border-radius:13px; }

header .companyname { width: 150px; font-size: 14px; padding: 16px 0 0 5px; color: #BFD2F2; cursor: pointer; text-overflow: ellipsis; 
                      white-space: nowrap; overflow: hidden; }
header .companyname:hover { color: #fff; }

/*一级菜单*/
header .menu { height:50px; margin-left:0px;  }
header .menu a{  height:50px; line-height:50px;text-align:center;  padding-left:10px; display:inline-block; position:relative; margin-right:20px; }
header .menu .ico{ width:16px; height:16px; margin-top:18px; margin-left:10px; float:left; }
header .menu .name{ margin-left:5px; color:#BFD2F2; font-size:14px; float:left;}
header .menu .point { width:6px; height:6px; border-radius:3px; background-color:#f8aa9b; float:left; display:inline-block; margin-top:18px; margin-left:3px; }
header .menu .cursor { border-bottom:solid 3px #fff; width:100%; position:absolute; bottom:0px; display:none;  }
header .menu a:hover .name,header .menu .select .name{ color:#fff;}

header .menu .select .cursor{ display:block; }

/*登录会员信息*/
header .currentuser { margin-right:60px; cursor:pointer;position:absolute;top:0;right:0;}
header .currentuser span{ display:inline-block; float:left;}
header .currentuser .avatar { height:35px; width:35px; border:solid 1px #2F74B9; border-radius:18px; margin-top:7px;}
header .currentuser .username { margin-left:10px; color:#BFD2F2; line-height:50px; font-size:14px; }

header .currentuser .dropdown { width:16px; height:16px; position:relative; overflow:hidden; margin-left:5px; margin-top:24px; }
header .dropdown .dropdown-top { border-top:solid 6px #BFD2F2; border-left:solid 6px transparent ;border-right:solid 6px transparent ; }
header .dropdown .dropdown-bottom { border-top:solid 6px #2F74B9; border-left:solid 6px transparent ;
                                    border-right:solid 6px transparent; position:absolute; top:-3px; left:0; }

header .currentuser:hover .username{ color:#fff;}
header .currentuser:hover .dropdown-top{ border-top:solid 6px #fff;}

.dropdown-userinfo { position:fixed; background-color:#fff; width:120px; z-index:1000; border-radius:2px; border:solid 1px #eee;
                     box-shadow:0 0 5px #ccc; top:50px; right:20px; z-index:2000;}
.dropdown-userinfo .top-lump { border-bottom:solid 10px #fff; border-left:solid 12px transparent ;border-right:solid 12px transparent; 
                               width:0; height:0; position:absolute; left:50px; top:-9px; }
.dropdown-userinfo .items-list { padding:5px 0; overflow:auto; }
.dropdown-userinfo .items-list .item{ height:35px; line-height:35px; float:left; width:120px; }
.dropdown-userinfo .items-list .item a{ width:70px;padding-left:30px; display:inline-block; font-size:14px; color:#666;}
.dropdown-userinfo .items-list .item:hover{ background-color:#eee; }

nav { width:180px; position:fixed; left:0; top:50px; height:100%; background-color:#fff; opacity:0.9; box-shadow:0 0 5px #ccc;}
nav .controller { border-top:solid 1px #eee; padding:5px 0; }
nav .controller-box {  height:42px; cursor:pointer; }
nav .controller-name { height:40px; cursor:pointer; text-align:center; }
nav .controller .open { border-left:solid 6px #999; border-top:solid 6px transparent ;border-bottom:solid 6px transparent; 
                             width:0px; height:0px; margin:14px 0 0 45px; transform:rotate(0deg);}
nav .controller-box .name{ font-size:15px; line-height:40px; color:#666; display:inline-block; padding-left:10px; }
nav .controller-box .point { width:6px; height:6px; border-radius:3px; background-color:red; float:left; display:inline-block; margin-top:12px; margin-left:3px; }
nav .controller .rotate { transform:rotate(90deg); }
nav .action-box {}
nav .action-box .action {  height:40px; line-height:40px;}
nav .action-box a { width:100%; display:inline-block; color:#666; text-align:center; height:40px;}
nav .action-box a .name{ position:relative;display:inline-block; height:40px; font-size:13px;}
nav .action-box .action:hover { background-color:#ccc; }
nav .action-box .action:hover a,nav .action-box .select a{ color:#4a98e7; text-decoration:none; }
nav .action-box .select { background-color:#f2f4f8 !important; height:40px; line-height:40px; }
nav .action-box .point { width:6px; height:6px; border-radius:3px; background-color:red; display:inline-block; position:absolute; top:12px; right:-10px; }


.main-content { padding:50px 0px 50px 180px;}
.main-content::after{display:block;content:"";clear:both;}

.header-box::after{display:block;content:"";clear:both;}
.header-box .add-type { border:0;text-align:center;cursor:pointer;float:right;margin-right:30px;border-radius:3px;background-color:#4a98e7;}
.header-box .add-type a{color:#fff;}
.header-box .add-type:hover{background-color:#318ae4;}
.header-box { background-color:#fff; padding:15px 20px 5px 20px; min-height:28px; overflow:auto; margin-bottom:20px; }
.header-box .header-title { color:#666; font-size:18px;}
.header-box .back { font-size:14px; }
.header-box .titlename { color:#999; font-size:16px;}


.content-body{ overflow:auto; background-color:#fff; clear:both; margin:0 20px; padding:10px 0; box-shadow:0px 10px 10px #ddd; }

/*搜索项*/
.search-body { margin:0 20px; min-height:35px; }
.search-item { clear:both; overflow:auto; margin-bottom:10px; }
.search-item li{ float:left; height:23px; line-height:23px; border:solid 1px #fff; margin-right:10px; }
.search-item li.item{ color:#666; cursor:pointer; padding:0 10px;}
.search-item .column-name{ width:40px; color:#999; }
.search-item .item:hover{ color:#4A99E8; }
.search-item .item.hover{ border:solid 1px #4A99E8; color:#4A99E8;}

.search-items { clear:both;overflow:auto; height:35px; margin:10px 20px;}

/*排序*/
.search-sort {  border-top:dashed 1px #ccc;  border-bottom:dashed 1px #ccc; background-color:#f9f9f9; height:40px; margin-top:10px; }
.search-sort li{ float:left; padding:0 20px; line-height:40px; color:#666; }
.search-sort .sort-item { position:relative; cursor:pointer; }

.search-sort .sort-item:hover { color:#4a98e7; }
.search-sort .sort-item.hover { color:#4a98e7; }

.search-sort .sort-item .asc { position:absolute; top:16px; right:5px;  border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.search-sort .sort-item .desc { position:absolute; top:23px; right:5px;  border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.search-sort .sort-item .asc.hover {  border-bottom:solid 5px #4a98e7;}
.search-sort .sort-item .desc.hover { border-top:solid 5px #4a98e7;}

/*日期*/
.ipt-date{ background:url(/modules/images/icondate.png) no-repeat left 4px center; height:28px !important;line-height:28px; text-indent:20px; width:180px;margin-right:20px;}

/*内容表格样式*/
.table-list { width: 100%; border-spacing: 0px;}
.table-list .operation span{cursor:pointer;color:#4a98e7;display:inline-block;vertical-align: middle;}
.table-list .operation span:hover{color:red}
.table-list .operation .update:before{content:"\e607"}
.table-list .operation .delete:before{content:"\e651"}
.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #e6e6e6; font-size:13px; font-weight:bold; color:#666; padding:0 5px;
                           white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr td:first-child{ text-indent:12px;}

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ width:50px; height:50px; display:inline-block;  vertical-align:middle;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }
.table-list .show-all-txt { word-wrap: break-word; white-space: normal !important; }
.table-title { font-size: 14px; border-bottom: solid 1px #ccc; height: 40px; line-height: 40px; color: #666; }

/*alert 弹出层样式*/
.alert {background-color: #333;opacity:0.8; font-size: 13px; position: fixed; top:35%; z-index: 99999; 
         padding:20px;padding-left:40px;  overflow:auto; border-radius:5px;min-width:140px;}
.alert .alert-wrap { word-wrap: break-word;  word-break:break-all;color:#fff;font-size:14px;}
.alert-wrap .alert-icon-right:before {content:"\e613";}
.alert-wrap .alert-icon-right {display:inline-block;color:#fefefe;font-size:20px;}
.alert-wrap .alert-icon-warn:before {content:"\e64a";}
.alert-wrap .alert-icon-warn {display:inline-block;color:#fefefe;font-size:20px;}
.alert-wrap .alert-msg {display:inline-block;color:#fff;font-size:16px;line-height:16px; padding:0 20px 0 15px;}
.alert-wrap .alert-close:before {content:"\e628";}
.alert-wrap .alert-close {display:inline-block;color:#ddd;font-size:16px;padding-top:4px;cursor:pointer;}
.alert-wrap .alert-close:hover {color:#fff;}

.confirm-layer {position: fixed; z-index:99998; top:0; left:0;right:0; bottom:0; background-color:#000; opacity:0.7;}
.confirm { border: 1px solid #ccc; background-color: #fff; font-size: 13px; position: fixed; top:35%; z-index: 99999; width:360px; overflow:auto;padding:24px;border-radius:3px; }
.confirm .confirm-wrap { word-wrap: break-word;  word-break:break-all;font-size:16px;  }
.confirm .confirm-bottom { margin-top:20px; text-align:right; }
.confirm-bottom .sure { padding:10px 24px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:3px; }
.confirm-bottom .sure:hover {  background-color:#2F73B8;  }
.confirm-bottom .close { padding:5px 40px; color:#999; border:none; cursor:pointer; display:inline-block; }
.confirm-bottom .close:hover {color:#4a98e7; }

/*新建样式*/
.table-add {  border-bottom:solid 1px #eee; padding:0 20px 20px 20px; }
.table-add li{ line-height:25px; margin-top:10px;  padding: 2px 0px;}
.table-add li input[type="text"],.table-add li input[type="password"],.table-add li input[type="number"]{ height:26px; line-height:26px; padding:2px 5px; width:150px; }
.table-add li textarea {resize:none; height:80px; line-height:26px; padding:1px 5px; border:solid 1px #ccc; width:300px; border-radius:2px;}
.table-add span {  display:inline-block; vertical-align:top;}
.table-add .column-title { color:#999; width:80px;}
.table-add .category-title { color:#999; width:60px;}
.table-add .column-title-template { color:#333; width:60px;font-size:12px;}
.table-boeder{border-bottom:0;padding-bottom:0;}

/*       按钮和图标               */
.btn {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -o-transition:all 0.3s;        
}
.btn-ok {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px;margin-top:20px;margin-left:20px;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -o-transition:all 0.3s;        
}
.btn:hover { background-color:#2F73B8; }
.btn-add{ background:url(/modules/images/ico-btnadd.png) no-repeat 7px 7px; line-height:18px; padding:5px 10px; border-radius:2px;
          display:inline-block; cursor:pointer; padding-left:23px; color:#fff; background-color:#4a98e7;
          -moz-transition:all 0.3s;
          -webkit-transition:all 0.3s;
          -o-transition:all 0.3s;
}
.btn-add:hover{ background-color:#2F73B8;}
/*返回*/
.btn-back { background: url(/modules/images/iconback.png) no-repeat 5px 7px; line-height: 18px; padding: 5px 10px; border-radius: 2px; display: inline-block; cursor: pointer; padding-left: 23px; color: #fff; background-color: #4a98e7; 
           -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; }
.btn-back:hover{ background-color:#2F73B8;}

/*删除 叉*/
.ico-delete{ background:url(/modules/images/ico-delete.png) no-repeat; height:20px; min-width:20px; line-height:20px; 
    cursor:pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    border-radius: 10px;
}