/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important;background-color:#f2f4f8; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;resize:none;padding:2px 5px;width:300px;}
textarea:focus { border:solid 1px #666;}
table { border-collapse:collapse;}
select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

/*头部*/
.header {  height:50px; width:100%; background-color:#2F73B8; position:fixed; top:0; z-index:1999; opacity:0.9; box-shadow:0 0 5px #2F73B8;}
.header .menu{margin-left:200px;}
.header .menu li{float:left;margin-right:20px;line-height:50px;cursor:pointer;position:relative;}
.menu li a { color:#BFD2F2;font-size:18px;}
.header .menu::after{display:block;content:"";clear:both;}
.menu .hover a{color:#fff;border-bottom:3px solid #fff;padding-bottom:10px;}

nav { width:180px; position:fixed; left:0; top:50px; height:100%; background-color:#fff; opacity:0.9; box-shadow:0 0 5px #ccc;}
nav .controller { border-top:solid 1px #eee; padding:5px 0; }
nav .controller-box {  height:42px; cursor:pointer; }
nav .controller-name { height:40px; cursor:pointer; text-align:center; }
nav .controller .open { border-left:solid 6px #999; border-top:solid 6px transparent ;border-bottom:solid 6px transparent; 
                             width:0px; height:0px; margin:14px 0 0 45px; transform:rotate(0deg);}
nav .controller-box .name{ font-size:15px; line-height:40px; color:#666; display:inline-block; padding-left:10px; }
nav .controller-box .point { width:6px; height:6px; border-radius:3px; background-color:red; float:left; display:inline-block; margin-top:12px; margin-left:3px; }
nav .controller .rotate { transform:rotate(90deg); }
nav .action-box {}
nav .action-box .action {  height:40px; line-height:40px;}
nav .action-box a { width:100%; display:inline-block; color:#666; text-align:center; height:40px;}
nav .action-box a .name{ position:relative;display:inline-block; height:40px; font-size:13px;}
nav .action-box .action:hover { background-color:#ccc; }
nav .action-box .action:hover a,nav .action-box .select a{ color:#4a98e7; text-decoration:none; }
nav .action-box .select { background-color:#f2f4f8 !important; height:40px; line-height:40px; }
nav .action-box .point { width:6px; height:6px; border-radius:3px; background-color:red; display:inline-block; position:absolute; top:12px; right:-10px; }


.main-content { padding:50px 0px 50px 180px;}
.main-content::after{display:block;content:"";clear:both;}

.header-box::after{display:block;content:"";clear:both;}
.header-box .add-type { border:0;padding:5px 10px;text-align:center;cursor:pointer;float:right;margin-right:30px;border-radius:3px;background-color:#4a98e7;}
.header-box .add-type a{color:#fff;}
.header-box .add-type:hover{background-color:#318ae4;}
.header-box { background-color:#fff; padding:15px 20px 5px 20px; min-height:28px; overflow:auto; margin-bottom:20px; }
.header-box .header-title { color:#666; font-size:18px;}
.header-box .back { font-size:14px; }
.header-box .titlename { color:#999; font-size:16px;}


.content-body{ overflow:auto; background-color:#fff; clear:both; margin:0 20px; padding:10px 0; box-shadow:0px 10px 10px #ddd; }

/*搜索项*/
.search-body { margin:0 20px; min-height:35px; }
.search-item { clear:both; overflow:auto; margin-bottom:10px; }
.search-item li{ float:left; height:23px; line-height:23px; border:solid 1px #fff; margin-right:10px; }
.search-item li.item{ color:#666; cursor:pointer; padding:0 10px;}
.search-item .column-name{ width:60px; color:#999; }
.search-item .item:hover{ color:#4A99E8; }
.search-item .item.hover{ border:solid 1px #4A99E8; color:#4A99E8;}

.search-items { clear:both;overflow:auto; height:35px; margin:10px 20px;}

/*排序*/
.search-sort {  border-top:dashed 1px #ccc;  border-bottom:dashed 1px #ccc; background-color:#f9f9f9; height:40px; margin-top:10px; }
.search-sort li{ float:left; padding:0 20px; line-height:40px; color:#666; }
.search-sort .sort-item { position:relative; cursor:pointer; }

.search-sort .sort-item:hover { color:#4a98e7; }
.search-sort .sort-item.hover { color:#4a98e7; }

.search-sort .sort-item .asc { position:absolute; top:16px; right:5px;  border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.search-sort .sort-item .desc { position:absolute; top:23px; right:5px;  border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.search-sort .sort-item .asc.hover {  border-bottom:solid 5px #4a98e7;}
.search-sort .sort-item .desc.hover { border-top:solid 5px #4a98e7;}

/*日期*/
.ipt-date{ background:url(/modules/images/icondate.png) no-repeat left 4px center; height:28px !important;line-height:28px; text-indent:20px; width:180px;margin-right:20px;}

/*内容表格样式*/
.table-list { width: 100%; border-spacing: 0px;}
.table-list .operation span{cursor:pointer;color:#4a98e7;display:inline-block;vertical-align: middle;}
.table-list .operation span:hover{color:red}
.table-list .operation .update:before{content:"\e607"}
.table-list .operation .delete:before{content:"\e651"}
.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #e6e6e6; font-size:13px; font-weight:bold; color:#666; padding:0 5px;
                           white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr td:first-child{ text-indent:12px;}

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ width:50px; height:50px; display:inline-block;  vertical-align:middle;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }
.table-list .show-all-txt { word-wrap: break-word; white-space: normal !important; }
.table-title { font-size: 14px; border-bottom: solid 1px #ccc; height: 40px; line-height: 40px; color: #666; }

/*alert 弹出层样式*/
.alert-layer {position: fixed; z-index:99998; top:0; left:0;right:0; bottom:0; background-color:#666; opacity:0.6;}

.alert { border: 1px solid #2F73B8; background-color: #fff; font-size: 13px; position: fixed; top:35%; z-index: 99999; 
         min-width: 330px; max-width:450px; box-shadow: 0 0 2px #666; overflow:auto; }

.alert .alert-header { height:30px;line-height:30px; font-weight:bold; font-size:14px; color:#fff; text-indent:15px; background-color:#2F73B8;}
.alert .alert-wrap { line-height:20px; margin:20px 15px;word-wrap: break-word;  word-break:break-all; text-align:center; }
.alert .alert-bottom { height:25px; margin:10px 15px 15px; text-align:center; }

.alert .confirm { padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; }
.alert .confirm:hover {  background-color:#2F73B8;  }
.alert .close { padding:5px 10px; background-color:#ccc; color:#666; border:none; cursor:pointer; display:inline-block; border-radius:2px; }
.alert .close:hover {  background-color:#999; color:#fff; }

/*新建样式*/
.table-add {  border-bottom:solid 1px #eee; padding:0 20px 20px 20px; }
.table-add li{ line-height:25px; margin-top:10px;  padding: 2px 0px;}
.table-add li input[type="text"],.table-add li input[type="password"]{ height:26px; line-height:26px; padding:2px 5px; width:150px; }
.table-add li textarea {resize:none; height:80px; line-height:26px; padding:1px 5px; border:solid 1px #ccc; width:300px; border-radius:2px;}
.table-add span {  display:inline-block; vertical-align:top;}
.table-add .column-title { color:#999; width:60px;}
.table-add .column-title-template { color:#333; width:60px;font-size:12px;}
.table-boeder{border-bottom:0;padding-bottom:0;}

/*       按钮和图标               */
.btn {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -o-transition:all 0.3s;        
}
.btn-ok {  padding:5px 10px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px;margin-top:20px;margin-left:20px;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -o-transition:all 0.3s;        
}
.btn:hover { background-color:#2F73B8; }