<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/m/css/layout.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    @RenderSection("css", false)    
</head>
<body>
    <header>
        <div class="header">
            <a href="/M/Home/index"><div class="left iconfont icon">&#xe614;</div></a>
            <div class="right menu-icon">
                <div class="icons-menu">菜单</div>                
            </div>
        </div>
        <ul class="menu hide">
            <li style="margin-top:0px;"><a href="/M/Home/index">首页</a></li>
            <li><a href="/M/Product/Product">产品</a></li>
            <li><a href="/M/Pricing/Pricing">定价</a></li>
            <li><a href="/M/Services/Services">服务</a></li>
            <li><a href="/M/About/About">关于</a></li>
            <li class="free-login"><a href="http://zngc.intfactory.cn/home/login">登录</a></li>
            <li class="free-register" style="margin-bottom:8px;"><a target="_blank" href="http://zngc.intfactory.cn/Home/Register">免费注册</a></li>
        </ul>
    </header>

    <div class="main-content">
        @RenderBody()
    </div>
     
    <footer>
        <div class="footer-content">
            <ul class="left">
                <li><a href="/M/About/About?#list">帮助</a></li>
                <li><a href="/M/About/About?#list">反馈</a></li>
                <li><a href="/M/Pricing/Pricing">购买</a></li>
                <li><a href="/M/About/About?#list">联系我们</a></li>
            </ul>

            <ul class="right">
                <li><a href="/M/About/About?#list">开发者</a></li>
                <li><a href="/M/About/About?#list">服务条款</a></li>
                <li><a target="_blank" href="http://j.map.baidu.com/FvBYv">网站地图</a></li>
                <li><a href="/M/About/About?#list">合作伙伴</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="footer-title">©2016厂盟智能 浙ICP备16001314号-1</div>
    </footer>
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>    
    <script type="text/javascript">
        seajs.use(["/modules/m/scripts/layout"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
    @RenderSection("scripts",false)
</body>
</html>


