<div>
    <ul class="table-add" style="padding-left:0px;">
        <li>
            <span class="column-title">登录账号：</span> 
            <span><input type="text" maxlength="20" id="loginname" data-empty="账号不能为空" data-text="账号只能输入字母、数字和下划线，且必须包含字母" data-type="words" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">登陆密码：</span> 
            <span><input type="password" maxlength="20" id="loginpass" data-empty="密码不能为空" data-text="密码不能少于6位" class="input verify" /></span>
        </li>        
        <li>
            <span class="column-title">姓名：</span>
            <span><input type="text" maxlength="25" id="name"  data-empty="必填" class="input verify" /></span> 
        </li>
        
        
        <li>
            <span class="column-title">备注：</span>
            <textarea id="remark" maxlength="1000"></textarea>
        </li>

    </ul>
</div>
