<div class="login-body">
    <div class="main">        
        <div class="login">
            <div class="registerErr hide"></div>
            <div class="loginbar">                
                <input type="text" class="input right" id="iptUserName" placeholder="请输入账号" maxlength="25">
            </div>
            <div class="loginbar" style="position:relative;">                
                <input type="password" class="input right" id="iptPwd" placeholder="请输入密码">                
            </div>   
            <div class="btnLogin mTop15" id="btnLogin">登录</div>
    </div>
</div>
