{%
     for(var i=0,j=$data.length; i < j ; i++){ 
        var item=$data[i];
%}
<tr class="item">
    <td class="center">{%=item.Type==1?"问题":item.Type==2?"建议":"需求"%}</td>
    <td class="center">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center">
        <i class="iconfont font22 {%=item.Status==2?"tag":""%}">&#xe624;</i>
        <span class="{%=item.Status==2?"tag":""%}">{%=item.Status==1?"待处理":item.Status==2?"已处理":item.Status==2?"驳回":"删除"%}</span>
    </td>
    
    <td class="">
        <span class="long width450 span">{%=item.Remark%}</span>
        <div class="hide div" style="white-space:normal;">{%=item.Remark%}</div>
    </td>
    <td class="center open-contents tag" data-id="{%=i%}">展开</td>            
</tr>
<tr class="hide item-back">
    <td class="center">回答</td>
    <td class="tLeft" style="text-indent: 2em;" colspan="5">{%=item.Content%}</td>
</tr>

{% } %}