<div class="login-body">
    <div class="main">        
        <div class="login">
            <div class="registerErr hide"></div>
            <div class="loginbar">
                <div>账号:</div>
                <input type="text" class="input right" id="iptUserName" placeholder="请输入账号" maxlength="25">
            </div>
            <div class="loginbar" style="position:relative;">
                <div>密码:</div>    
                <input type="password" class="input right" id="iptPwd" placeholder="请输入密码">                
            </div>                     
        </div>
    </div>
</div>
