<div class="">
    <ul class="table-add">            
        <li>
            <span class="column-title-template">类型:</span>
            <select>
                <option data-id="0">功能</option>
                <option data-id="1">问题</option>
                <option data-id="2">指引</option>
            </select>
        </li>
        <li>
                <span class="column-title-template">分类：</span> 
                <span><input type="text" maxlength="20" class="type"></span>
        </li>
        <li>
            <span class="column-title-template">附件:</span>
            <span class="btn" style="margin:0">图片上传</span>
        </li>
        <li>
            <ul id="orderImages" class="order-imgs addimg hide">

            </ul>
        </li>
    </ul>  
</div>