 <div class="update-details">
    <ul class="details">
        <li>
            <div class="left mRight20">分类类型：</div>
            <select class="update-select">  
                            
            </select>
        </li>
        <li>
            <div class="left mRight50">标题：</div>
            <input type="text" class="title"  style="width:160px;" />
        </li>
        <li>
            <div class="left mRight50">描述：</div>
            <textarea class="desc"></textarea>
        </li>
    </ul>
</div>
