
/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"],input[type="number"] { border:solid 1px #ccc; border-radius:2px;height:28px; line-height:28px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #0cb39e; }
input[type="number"]:focus{border:1px solid #ccc;}

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;text-indent:3px;resize:none;}
textarea:focus { border:solid 1px #666;}

select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

/*header样式*/
.header-menu {height:50px;position:fixed;z-index:11111;width:100%; top:0;left:0;background-color:rgba(0,0,0,1)}
.site-header {width:1200px;margin:auto;}
.site-header::after{display:block;content:"";clear:both;}
.site-header .helpcenter-icon{width:38px;height:38px;float:left;margin-top:5px;border:1px solid #ccc;border-radius:50%;color:#000;background-color:#fff;text-align:center;
                              line-height:40px;}
.site-header .nav{margin-left:250px;}
.site-header .nav::after{display:block;content:"";clear:both;}
.site-header .nav li {float:left;margin-top:10px;cursor:pointer;width:100px;text-align:center;height:30px;line-height:30px;}
.site-header .nav li a{ color:#fff;Opacity:0.7}
.intfactory {width:30px;height:30px;border-radius:16px;background-color:#fff;color:#0cb39e;opacity:0.9; line-height:30px;text-align:center;margin-right:3px;font-size:26px !important;margin-top:2px;}
.nav li i { width:30px;color:#fff;line-height:20px;}
.nav li.hover a{ border-bottom:2px solid #fff;padding-bottom:14px;opacity:1;}
.nav li:hover a{Opacity:1;color:#fff;}
.site-header div a:first-child{ padding: 5px 15px; margin-right: 20px; cursor: pointer;
                                border-radius:3px;color:#fff;border:1px solid transparent;opacity:0.8}
.site-header div a:first-child:hover{color:#aaa;background-color:#fff;}
.site-header div .register{color:#fff;padding:5px 15px; cursor: pointer;
                                border:1px solid #fff;border-radius:3px;opacity:0.7}
.site-header div .register:hover{opacity:1;background-color:#fff;color:#0cb39e;}

/*弹出层-新建*/
.easydialog-create { min-width:400px;  }
.easydialog-create li{ margin-top:10px; }
.easydialog-create li span{ display:inline-block; vertical-align:top;}
.easydialog-create li input[type="text"]{ width:180px; }
.easydialog-create li textarea{ width:350px; min-height:75px; }
.easydialog-create li label{ line-height:20px; height:20px; cursor:pointer; }
.easydialog-create li label input{ line-height:20px; height:20px; }

/*alert 弹出层样式*/
.alert {background-color: #333;opacity:0.8; font-size: 13px; position: fixed; top:35%; z-index: 99999; 
         padding:20px;padding-left:40px;  overflow:auto; border-radius:5px;min-width:140px;max-width:260px;}
.alert .alert-wrap { word-wrap: break-word;  word-break:break-all;color:#fff;font-size:14px;}
.alert-wrap .alert-icon-right:before {content:"\e613";}
.alert-wrap .alert-icon-right {color:#fefefe;font-size:20px;float:left;}
.alert-wrap .alert-icon-warn:before {content:"\e64a";}
.alert-wrap .alert-icon-warn {color:#fefefe;font-size:20px;float:left;}
.alert-wrap .alert-msg {float:left;color:#fff;font-size:16px;line-height:24px; padding:0 20px 0 15px;max-width:160px;}
.alert-wrap .alert-close:before {content:"\e628";}
.alert-wrap .alert-close {float:left;color:#ddd;font-size:20px;padding-top:0px;cursor:pointer;}
.alert-wrap .alert-close:hover {color:#fff;}


.confirm-layer {position: fixed; z-index:99998; top:0; left:0;right:0; bottom:0; background-color:#000; opacity:0.7;}
.confirm { border: 1px solid #ccc; background-color: #fff; font-size: 13px; position: fixed; top:35%; z-index: 99999; width:260px; overflow:auto;padding:20px;border-radius:3px; }
.confirm .confirm-wrap { word-wrap: break-word;  word-break:break-all;font-size:16px;  }
.confirm .confirm-bottom { margin-top:20px; text-align:right; }
.confirm-bottom .sure { padding:10px 24px; background-color:#4a98e7; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:3px; }
.confirm-bottom .sure:hover {  background-color:#2F73B8;  }
.confirm-bottom .close { padding:5px 40px; color:#999; border:none; cursor:pointer; display:inline-block; }
.confirm-bottom .close:hover {color:#4a98e7; }

/*下拉菜单样式*/
.dropdown { cursor:pointer; }
.dropdown-ul { padding:10px 0; border:solid 1px #ccc; border-radius:5px; position:absolute; background-color:#fff; overflow:auto; box-shadow:0 0 5px #999; }
.dropdown-ul li{ padding:0 20px; height:25px; line-height:25px; cursor:pointer; }
.dropdown-ul li:hover{  background-color:#eee; color:#318ae4; }



/*内容*/
.main-content { background-color:#fff;}

/*常见问题 头部*/
.head-content-menu { background-color:#0cb39e;height:120px;}
.head-content-menu .content{width:1200px;margin:auto;}
.head-content-menu .content .head-menu{padding-top:75px;float:left;margin-left:10px;}
.head-content-menu .head-menu a, .head-menu span { color:#fff;opacity:0.9;cursor:pointer;font-size:16px;}
.head-content-menu .head-menu a:hover{opacity:1;}
.head-content-menu .head-search{text-align:center;border-radius:2px;position:relative;float:right;margin-right:10px;}
.head-content-menu .head-search .search-txt{color:#999;line-height:45px;margin-left:10px;width:300px;height:45px;margin-top:60px;font-size:18px;}
.head-content-menu .head-search .search-txt:focus{border:1px solid #0cb39e;}
.head-content-menu .head-search .iconfont{font-size:30px;color:#0cb39e;float:right;line-height:45px;cursor:pointer;position:absolute;z-index:11;bottom:0;right:5px;}

/*footer样式*/

.site-footer {width:100%;background-color:#434443;height:150px;}
.site-footer .module-box{width:1200px;margin:auto;}
.site-footer .links{margin-top:20px;}
.site-footer .links a{padding-bottom:20px;display: block; float: left;cursor:pointer;}
.links a{ margin-right:20px;color:#ddd;opacity:0.8}
.links a:hover{color:#fff;}


/*返回顶部*/
.getback-FH { position:fixed;z-index:11112;color:#666;right:3%;bottom:8%;display:none;}
.getback-FH .iconfont-back {font-size:30px;color:#4a98e7;cursor:pointer; }

/*排序*/
.search-sort { background-color:#f9f9f9; height:50px;float:left;margin-bottom:20px;}
.search-sort li{ float:left; padding:0 20px; line-height:50px; color:#666; }
.search-sort .sort-item { position:relative; cursor:pointer; font-size:16px;}

.search-sort .sort-item:hover { color:#0cb39e; }
.search-sort .sort-item.hover { color:#0cb39e; }

.search-sort .sort-item .asc { position:absolute; top:20px; right:5px;  border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.search-sort .sort-item .desc { position:absolute; top:28px; right:5px;  border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.search-sort .sort-item .asc.hover {  border-bottom:solid 5px #0cb39e;}
.search-sort .sort-item .desc.hover { border-top:solid 5px #0cb39e;}


/*       按钮和图标               */
.btn {  padding:5px 10px; background-color:#0cb39e; color:#fff; border:none; cursor:pointer; display:inline-block; border-radius:2px; line-height:18px;
        -moz-transition:all 0.3s;
        -webkit-transition:all 0.3s;
        -o-transition:all 0.3s;        
}
/*图片loading*/
.dataLoading { padding: 85px 0px; font-size: 16px; text-align: center; color: #666; }

.data-loading { padding: 85px 0px; font-size: 16px; text-align: center; color: #666;background:url(/modules/images/ico-loading.jpg) no-repeat center center; }
.nodata-txt{ padding: 95px 0px; font-size: 16px; text-align: center; color: #666; }



/*表格样式*/
.table-list { width: 100%; border-spacing: 0px;}

.table-list .tr-header{ height:50px; text-align:center; }
.table-list .tr-header td{ height:50px; border-bottom:solid 2px #eee; font-size:13px; color:#000; padding:0 5px;font-size:16px;}

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#aaa; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis;  }

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ height:80px; width:80px; vertical-align:middle;}



