
/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"],input[type="number"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }
input[type="number"]:focus{border:1px solid #ccc;}

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;text-indent:3px;resize:none;}
textarea:focus { border:solid 1px #666;}

select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

/*header样式*/
.header-menu {height:50px;position:fixed;z-index:11111;width:100%; top:0;left:0;background-color:rgba(0,0,0,1)}
.site-header {width:1200px;margin:auto;}
.site-header::after{display:block;content:"";clear:both;}
.site-header .helpcenter-icon{width:38px;height:38px;float:left;margin-top:5px;border:1px solid #ccc;border-radius:50%;color:#000;background-color:#fff;text-align:center;
                              line-height:40px;}
.site-header .nav{margin-left:250px;}
.site-header .nav::after{display:block;content:"";clear:both;}
.site-header .nav li {float:left;margin-top:10px;cursor:pointer;width:100px;text-align:center;height:30px;line-height:30px;}
.site-header .nav li a{ color:#fff;Opacity:0.7}
.intfactory {width:30px;height:30px;border-radius:16px;background-color:#fff;color:#0cb39e;opacity:0.9; line-height:30px;text-align:center;margin-right:3px;font-size:26px !important;margin-top:2px;}
.nav li i { width:30px;color:#fff;line-height:20px;}
.nav li.hover a{ border-bottom:2px solid #fff;padding-bottom:14px;opacity:1;}
.nav li:hover a{Opacity:1;color:#fff;}
.site-header div a:first-child{ padding: 5px 15px; margin-right: 20px; cursor: pointer;
                                border-radius:3px;color:#fff;border:1px solid transparent;opacity:0.8}
.site-header div a:first-child:hover{color:#aaa;background-color:#fff;}
.site-header div .register{color:#fff;padding:5px 15px; cursor: pointer;
                                border:1px solid #fff;border-radius:3px;opacity:0.7}
.site-header div .register:hover{opacity:1;background-color:#fff;color:#0cb39e;}

/*内容*/
.main-content { background-color:#fff;}

/*常见问题 头部*/
.head-content-menu { background-color:#0cb39e;height:120px;}
.head-content-menu .content{width:1200px;margin:auto;}
.head-content-menu .content .head-menu{padding-top:75px;float:left;margin-left:10px;}
.head-content-menu .head-menu a, .head-menu span { color:#fff;opacity:0.9;cursor:pointer;}
.head-content-menu .head-menu a:hover{opacity:1;}
.head-content-menu .head-search{text-align:center;border-radius:2px;position:relative;float:right;margin-right:10px;}
.head-content-menu .head-search .search-txt{color:#999;line-height:40px;margin-left:10px;width:300px;height:40px;margin-top:65px;}
.head-content-menu .head-search .search-txt:focus{border:1px solid #0cb39e;}
.head-content-menu .head-search .iconfont{font-size:30px;color:#0cb39e;float:right;line-height:45px;cursor:pointer;position:absolute;z-index:11;bottom:0;right:5px;}

/*footer样式*/

.site-footer {width:100%;background-color:#434443;height:150px;}
.site-footer .links{margin-top:20px;}
.site-footer .links a{padding-bottom:20px;display: block; float: left;cursor:pointer;}
.links a{ margin-right:20px;color:#ddd;opacity:0.8}
.links a:hover{color:#fff;}
/*返回顶部*/
.getback-FH { position:fixed;z-index:11112;color:#666;right:3%;bottom:8%;display:none;}
.getback-FH .iconfont-back {font-size:30px;color:#4a98e7;cursor:pointer; }
/*页面首图描述*/
.module-box {
    width:1200px;
    margin:auto;
}
.host-timeline {text-align:center;margin-bottom:40px;padding-top:40px;font-size:24px;color:#000!important; }



