@{
    ViewBag.Title = "厂盟智能 | 定价-企业供应链SaaS平台";
    ViewBag.name = "Pricing";
}
@section css{
    <link href="/modules/css/pricing.css" rel="stylesheet" />
}
<div class="head-information">
    <div class="head-title">柔性化生产模式，带来全方面变革</div>    
</div>
<div class="tilte-version">
    <div class="templent left">
        <div class="title-name">专业版</div>
        <div class="center font18 color666 mTop30">￥人数/时间</div>
        <div class="btn-click"><a class="colorfff " href="http://zngc.intfactory.cn/Home/Register">免费试用</a></div>
        <ol class="desc-version">
            <li>● 基础用户数5人</li>
            <li>● 免费上门培训</li>
            <li>● 专属顾问一对一</li>
            <li>● 附件上传大小不设限制</li>
            <li>● 7*24小时在线服务</li>
            <li>● 所有应用模块</li>           
        </ol>
    </div>
    <div class="templent right">
        <div class="title-name">定制版</div>
        <div class="center font18 color666 mTop30">￥请咨询</div>
        <div class="btn-click-contact"><a href="/About/About?#list">联系我们</a></div>
        <ol class="desc-version">
            <li>● 专业版所有功能</li>
            <li>● 根据企业需求专业定制</li>
            <li>● 提供企业级解决方案</li>
            <li>● 项目结束后免费维护一年</li>                    
        </ol>
    </div>
</div>

<div class="price-list">
    <div class="host-timeline">价格表</div>
    <table>
        <tr class="bgcolor-title">
            <td></td>
            <td class="no-border-left font14">1年价格(元)</td>
            <td class="no-border-left font14">2年价格(元)</td>
            <td class="no-border-left font14">3年价格(元)</td>
        </tr>
        <tr class="bgcolor-price">
            <td><div class="use-number">5用户</div></td>
            <td data-number="1200.00" data-time="1">2,400</td>
            <td data-number="2400.00" data-time="2">4,800</td>
            <td data-number="3600.00" data-time="3">7,200</td>
        </tr>
        <tr>
            <td><div class="use-number">10用户</div></td>
            <td data-number="2400.00" data-time="1">4,800</td>
            <td data-number="4200.00" data-time="2">8,400</td>
            <td data-number="5600.00" data-time="3">10,200</td>
        </tr>
        <tr class="bgcolor-price">
            <td><div class="use-number">20用户</div></td>
            <td data-number="4600.00" data-time="1">9,200</td>
            <td data-number="8200.00" data-time="2">16,400</td>
            <td data-number="10800.00" data-time="3">21,600</td>
        </tr>
        <tr>
            <td><div class="use-number">50用户</div></td>
            <td data-number="10800.00" data-time="1">21,600</td>
            <td data-number="19200.00" data-time="2">38,400</td>
            <td data-number="25600.00" data-time="3">51,200</td>
        </tr>
        <tr class="bgcolor-price">
            <td><div class="use-number">100用户</div></td>
            <td data-number="19800.00" data-time="1">39,600</td>
            <td data-number="35600.00" data-time="2">71,200</td>
            <td data-number="46800.00" data-time="3">93,600</td>
        </tr>
    </table>
    <div class="reminder">此价格仅供参考,具体收费以实际为准</div>
</div>

<div class="else">
    <div class="host-timeline" style="margin-left:-22px;">其他服务</div>
    <div class="services-else">
        <div class="center mBottom120">
            <a style="margin-left:-22px;" class="icon-font">＋</a>
        </div>
        <ul>
            <li class="content-title">超级工厂</li>
            <li class="content-desc">园区部署，对区域性的联合工厂，提供园区部署方案</li>
            <li class="href-address"><a href="/About/About?#list">联系我们</a></li>
            <li class="iconfont font-icon">&#xe600;</li>
        </ul>
        <ul>
            <li class="content-title">客户端</li>
            <li class="content-desc">针对智能工厂用户，专门提供进销存成品管理平台“二当家”</li>
            <li class="href-address"><a href="http://yunxiaokeji.com/">立即试用</a></li>
            <li class="iconfont font-icon">&#xe601;</li>
        </ul>
        <ul style="margin:0;">
            <li class="content-title">解决方案</li>
            <li class="content-desc">根据企业不同特性，提供专业解决方案，专属顾问免费上门培训</li>
            <li class="href-address"><a href="/Pricing/Pricing">查看详情</a></li>
            <li class="iconfont font-icon">&#xe602;</li>
        </ul>

        <div class="line-across"></div>
        <div class="line-across-one"></div>
        <div class="line-across-two"></div>
        <div class="line-across-three"></div>
    </div>
</div>