@{
    ViewBag.Title = "后台 | 编辑内容";
    var list = (List<IntFactoryEntity.TypeEntity>)ViewBag.List;
    var model = (IntFactoryEntity.ContentEntity) ViewBag.model;
    ViewBag.Name = "Function";
}
@section css{    
    <link href="/modules/manage/css/helpcenter/helpcenter.css" rel="stylesheet" />
}
@section scripts{
    <script src="/modules/plug/umeditor/ueditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/helpcenter/update-content"], function (ObjectJS) {
            var um = UE.getEditor('remark');
            ObjectJS.init(um, '@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <a class="header-title left">编辑内容</a>   
    <a class="btn-back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">返回</a> 
</div>
<div class="content-body">
    <div class="">
        <ul class="table-add">
            <li>
                <span class="column-title left">模块:</span>
                <div class="selector" id="selector">
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="1"><span></span></i>
                        功能模块
                    </div>
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="2"><span></span></i>
                        常见问题
                    </div>
                    <div class="item">
                        <i class="ico-radiobox check-lump" data-id="3"><span></span></i>
                        新手指引
                    </div>
                </div>
            </li>
            <li>
                <span class="column-title">类型:</span>               
                <select id="classIfication">
                    @foreach (var item in list)
                    {
                        <option data-id="@(item.TypeID)">@(item.Name)</option>
                    }        
                </select>
            </li>
            <li>
                <span class="column-title">标题:</span>
                <input type="text" class="title" />
            </li>
            <li>
                <span class="column-title">排序:</span>
                <input type="number" class="sort" />
            </li>
            <li>
                <span class="column-title">关键字:</span>
                <input type="text" class="keywords" />
            </li>
            <li>
                <span class="column-title left">描述:</span>
                <div style="margin-left:85px;" id="remark"></div>
            </li>
        </ul>
        <div class="btn-ok update-details">保存</div>
    </div>
</div>
