@{
    ViewBag.Title = "后台 | 编辑内容";
    var list = (List<IntFactoryEntity.TypeEntity>)ViewBag.List;
    var model = (IntFactoryEntity.ContentEntity) ViewBag.model;
    ViewBag.Name = "Function";
}
@section css{    
    <link href="/modules/manage/css/helpcenter/helpcenter.css" rel="stylesheet" />
}
@section scripts{
    <script src="/modules/plug/umeditor/ueditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/helpcenter/update-content"], function (ObjectJS) {
            var um = UE.getEditor('remark');
            ObjectJS.init(um, '@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <a href="/Manage/HelpCenter/DetailList" class="header-title left">返回列表</a>   
</div>
<div class="content-body">
    <div class="">
        <ul class="table-add">
            <li>
                <span class="column-title">类型:</span>               
                <select>
                    @foreach (var item in list)
                    {
                        <option data-id="@(item.TypeID)">@(item.Name)</option>
                    }        
                </select>
            </li>
            <li>
                <span class="column-title">标题:</span>
                <input type="text" class="title" />
            </li>
            <li>
                <span class="column-title">排序:</span>
                <input type="number" class="sort" />
            </li>
            <li>
                <span class="column-title">关键字:</span>
                <input type="text" class="keywords" />
            </li>
            <li>
                <span class="column-title left">描述:</span>
                <div style="margin-left:85px;" id="remark"></div>
            </li>
        </ul>
        <div class="btn-ok update-details">保存</div>
    </div>
</div>
