.header-box::after{display:block;content:"";clear:both;}
.header-box .add-type { border:0;padding:5px 10px;text-align:center;cursor:pointer;float:right;margin-right:30px;border-radius:3px;background-color:#4a98e7;}
.header-box .add-type a{color:#fff;}
.header-box .add-type:hover{background-color:#318ae4;}
.header-box { background-color:#fff; padding:15px 20px 5px 20px; min-height:28px; overflow:auto; margin-bottom:20px; }
.header-box .header-title { color:#666; font-size:18px;}
.header-box .back { font-size:14px; }
.header-box .titlename { color:#999; font-size:16px;}



.btn-add { width:300px;text-align:center;border-radius:3px;width:50px;background-color:#4a98e7;color:#fff;padding:5px;cursor:pointer;}


/*添加分类*/
.addtype { text-align:center;width:300px;}
.addtype .items{margin-bottom:30px;line-height:25px;}

.selector li { float:left;width:60px;margin-right:20px;}
.selector::after { display:block;content:"";clear:both;}
.selector .ico-radiobox {width: 20px;height: 20px;display: inline-block;background-color: #fff;border: solid 1px #ccc;text-align: center;border-radius: 11px;
                         cursor: pointer;box-shadow: 0 0 2px #ddd inset;line-height: 20px !important;float:left;}
.selector .hover span {background-color: #4a98e7;display: inline-block;height: 12px;width: 12px;border-radius: 6px;margin-top: 4px;}
.img-upload {background-color: #4a98e7;padding: 5px;border-radius: 3px;color: #fff;cursor:pointer; }

.content-body{ overflow:auto; background-color:#fff; clear:both; margin:0 20px; padding:10px 0; box-shadow:0px 10px 10px #ddd; }

/*内容表格样式*/
.table-list { width: 100%; border-spacing: 0px;}
.table-list .update,.table-list .delete{cursor:pointer;}
.table-list .update:hover,.table-list .delete:hover{color:#4a98e7}
.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #e6e6e6; font-size:13px; font-weight:bold; color:#666; padding:0 5px;
                           white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr:not(:first-child){ height:35px; cursor:pointer; }
.table-list tr:not(:first-child):hover { background-color: #f6f6f6; }
.table-list tr:not(:first-child) td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis; }

.table-list tr td:first-child{ text-indent:12px;}

.table-list td a{ color:#4a98e7;  vertical-align:middle;}
.table-list td a:hover{ color:red; text-decoration:underline; }

.table-list td img{ width:80px; height:80px; display:inline-block;  vertical-align:middle;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }
.table-list .show-all-txt { word-wrap: break-word; white-space: normal !important; }
.table-title { font-size: 14px; border-bottom: solid 1px #ccc; height: 40px; line-height: 40px; color: #666; }

/*添加分类详情*/
.add-details { margin:30px 0 30px 50px;}
.add-details .details::after{display:block;content:"";clear:both;}
.add-details .details li{margin-bottom:20px;} 