@{
    ViewBag.Title = "添加分类";    
}
@section css{    
    <link href="/modules/manage/css/home/index.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/index"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}

<ul class="addtype">
    <li>
        <div class="left">分类:</div><input type="text" class="name" />
    </li>
    <li>
        <div class="left">类型:</div><input type="text" class="type" />
    </li>
</ul>  
<div class="btn-add-type hand">添加</div>


