@{
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "Index";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}

<div class="head-content">
    <div class="content-top">
        <div class="head-title">帮助中心</div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe605;</i>
        </div>
        <div class="head-title">您在使用“智能工厂”时有什么问题？</div>
        <div class="head-txt">通过搜索或点击常见问题进行查询，如无法找到相对应的答案，可联系我们进行反馈</div>
    </div>
    <div class="content-bottom">
        <ul class="function clear-both">
            <li>
                <a>
                    <i class="iconfont">&#xe62a;</i>
                    <div class="desc">工作台</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">客户信息管理</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>                
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">订单</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">任务设置</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>                
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">材料信息与供应商</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>                
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe604;</i>
                    <div class="desc">系统配置</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>  
                </a>
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">绑定第三方账号</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <i class="iconfont">&#xe629;</i>
                    <div class="desc">智能工厂客户端</div>
                    <div class="detail hide">
                        <div class="txt mTop40">工作台</div>
                        <div class="txt">工作台功能特点.问题等描述</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="problem">
    <ul class="table-switch clear-both">
        <li class="hover" data-id="0">
            <i class="iconfont">&#xe61b;</i>
            <div>常见问题</div>
            <div class="triangle_border_up">
                <span></span>
            </div>
        </li>
        <li data-id="1">
            <i class="iconfont">&#xe61b;</i>
            <div>热门问题</div>
            <div class="triangle_border_up">
                <span></span>
            </div>
        </li>
        <li data-id="2">
            <i class="iconfont">&#xe61b;</i>
            <div>操作手册</div>
            <div class="triangle_border_up">
                <span></span>
            </div>
        </li>
    </ul>
    <div class="problem-detail">
        <div class="problem-content clear-both ">
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="right">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
        </div>
        <div class="problem-content clear-both hide">
            <ul class="left">
                <li>问题分类2</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="right">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
        </div>
        <div class="problem-content clear-both hide">
            <ul class="left">
                <li>问题分类3</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="left">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
            <ul class="right">
                <li>问题分类</li>
                <li>· 智能工厂的优势？</li>
                <li>· 如何快速上手智能工厂？</li>
                <li>· 智能工厂是什么？</li>
                <li>· 多成员使用是否有影响？</li>
                <li>· 有个性化需求怎么办？</li>
                <li>· 智能工厂的收费模式？</li>
                <li>· 是否通过第三方账号登录？</li>
            </ul>
        </div>
    </div>    
</div>

<div class="new-guide">
    <div class="title">新手指南</div>
    <ul class="guide-img clear-both">
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">1.个人账户绑定</span>
        </li>
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">2.个人账户绑定</span>
        </li>
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">3.个人账户绑定</span>
        </li>
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">4.个人账户绑定</span>
        </li>
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">5.个人账户绑定</span>
        </li>
        <li>
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">6.个人账户绑定</span>
        </li>
    </ul>
</div>

<div class="customer-service">
    <div class="title">联系客服</div>
    <div class="content">
        <ul class="content-txt clear-both">
            <li>
                <i class="iconfont">&#xe64f;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
            <li>
                <i class="iconfont">&#xe64f;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
            <li>
                <i class="iconfont">&#xe64f;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
            <li>
                <i class="iconfont">&#xe64f;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
        </ul>
    </div>
</div>