@{
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "Index";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}

<div class="head-content">
    <div class="content-top">
        <div class="head-title">帮助中心</div>
        <div class="head-search">
            <span class="search-txt">搜索相关问题</span>
            <i class="iconfont"></i>
        </div>
    </div>
    <div class="content-bottom">

    </div>
    
</div>