@{
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "Index";
    var QAcontents = (List<IntFactoryEntity.ContentEntity>)ViewBag.QAcontents;
    var HotQAContents = (List<IntFactoryEntity.ContentEntity>)ViewBag.HotQAContents;
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}

<div class="head-content">
    <div class="content-top">
        <div class="head-title">帮助中心</div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
        <div class="head-title">您在使用“智能工厂”时有什么问题？</div>
        <div class="head-txt">通过搜索或点击常见问题进行查询，如无法找到相对应的答案，可联系我们进行反馈</div>
    </div>
    <div class="content-bottom">
        <ul class="function clear-after"></ul>
    </div>
</div>

<div class="problem">
    <ul class="table-switch clear-after">
        <li data-id="0" class="hover" >
            <i class="iconfont">&#xe61a;</i>
            <div>热门问题</div>
            <div class="triangle_border_up">
                <div class="triangle_border_inner"></div>
            </div>
        </li>
       <li data-id="1">
            <i class="iconfont">&#xe627;</i>
            <div>常见问题</div>
            <div class="triangle_border_up">
                <div class="triangle_border_inner"></div>
            </div>
        </li>
        <li data-id="2">
            <i class="iconfont">&#xe625;</i>
            <div>操作手册</div>
            <div class="triangle_border_up">
                <div class="triangle_border_inner"></div>
            </div>
        </li>
    </ul>
    <div class="problem-detail ">
        <div class="problem-content clear-after content-width hot-problems" id="hot-problems" style="width:900px;">
            <ul class="left">
                <li>最多浏览</li>
                @{
                    foreach (var qa in HotQAContents)
                    {
                    <li><a href='/Problems/ProblemsDetail/@qa.ContentID'>@qa.Title</a></li>
                    }
                }
            </ul>
            <ul class="left">
                <li>最近更新</li>
                @{
                    foreach(var qa in QAcontents){
                    <li><a href='/Problems/ProblemsDetail/@qa.ContentID'>@qa.Title</a></li>
                    }
                }
            </ul>
            <ul class="left">
                <li>最多反馈</li>
                @{
                    foreach(var qa in QAcontents){
                    <li><a href='/Problems/ProblemsDetail/@qa.ContentID'>@qa.Title</a></li>
                    }
                }
            </ul>
        </div>
        <div class="problem-content clear-after content-width hide" id="normal-problems">
            <ul class="left"></ul>
            <ul class="left"></ul>
            <ul class="left"></ul>
            <ul class="left"></ul>
        </div>
        <div class="problem-content  hide content-width clear-after" id="zngc-functions"></div>
        <div class="clear"></div>
    </div>    
</div>

<div class="new-guide mBottom50">
    <div class="title">新手指南</div>
    <ul class="guide-img clear-after"></ul>
</div>

<div class="customer-service">
    <div class="title">联系客服</div>
    <div class="content">
        <ul class="content-txt clear-after content-width">
            <li>
                <i class="iconfont">&#xe620;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
            <li>
                <i class="iconfont">&#xe61f;</i>
                <div>客服邮箱</div>
                <a href="mailto:customer@intfactory.cn">customer@intfactory.cn</a>
            </li>
            <li>
                <i class="iconfont">&#xe61c;</i>
                <div>留言</div>
                <div class="hand"><a href="/FeedBack/FeedBack">点击进入在线反馈</a></div>
            </li>
            <li>
                <i class="iconfont">&#xe61b;</i>
                <div>QQ交流群</div>
                <div>495358994</div>
            </li>
        </ul>
    </div>
</div>