@{
    ViewBag.Title = "厂盟 | 搜索";
    ViewBag.TitleName = "home";
}

<div class="head-content-menu">
    <div class="content">
        <div class="head-menu">
            <a href="/Home/Index">帮助中心</a>
            <span>></span>
            <a>搜索</a>
        </div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe605;</i>
        </div>
    </div>
</div>
