{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="center">{%=item.Title%}</td> 
    <td class="center">{%=item.KeyWords==""?"--":item.KeyWords%}</td> 
    <td class="center">{%=item.Types.Name%}</td>
    <td class="center">{%=item.Number%}</td>
    <td class="center">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="center operation">
        <a href="/Manage/Function/UpdateDetails/{%=item.HelpID%}" class="update iconfont" data-id="{%=item.HelpID%}" data-typeid="{%=item.TypeID%}"></a>
        <span class="delete iconfont mLeft20 font20" data-id="{%=item.HelpID%}"></span>
    </td>
    
</tr>
{% } %}
