
/*页面头部搜素框*/
.searth-module { position: relative; }
.searth-module .search-ipt { width: 260px; height:28px; line-height:28px; border-radius:2px; text-indent:5px; padding-right:30px; }
.searth-module .search-ico { background: url("/modules/images/ico_search.png") no-repeat 0 5px; height: 28px; position: absolute;  width: 28px; right:0; }
.searth-module .search-ico:hover { background: url("/modules/images/ico_searchhover.png") no-repeat 0 5px; }

