
/*下拉框插件样式*/
.dropdown-module { position: relative; height:28px; border:solid 1px #ccc; border-radius:2px; cursor:pointer;z-index:1000; }
.dropdown-module .dropdown-text { height:28px; line-height:28px; margin-left:5px; color:#666;position:absolute; }
.dropdown-module .dropdown-ico { height:16px; width:16px; position:relative; float:right; margin-top:10px; }

.dropdown-module .dropdown-ico .top { border-top:solid 6px #ccc; border-left:solid 6px transparent ;border-right:solid 6px transparent;
                                      position:absolute; }
.dropdown-module .dropdown-ico .bottom { border-top:solid 6px #fff; border-left:solid 6px transparent ;
                                    border-right:solid 6px transparent; position:absolute; top:-2px; left:0; }

.dropdown-module:hover { border:solid 1px #318ae4; }
.dropdown-module:hover .dropdown-text { color:#318ae4; }
.dropdown-module:hover .dropdown-ico .top{ border-top-color:#318ae4; }

.dropdown-module.hover { border:solid 1px #318ae4; }
.dropdown-module.hover .dropdown-text { color:#318ae4; }
.dropdown-module.hover .dropdown-ico .top{ border-top-color:#318ae4; }

.dropdown-items-modules { max-height:200px; overflow-x:hidden; overflow-y:auto; border:solid 1px #ccc; position:absolute; z-index:1005; background-color:#fff; }
.dropdown-items-modules li{ height:25px; line-height:25px; text-indent:5px; color:#666; cursor:pointer; }

.dropdown-items-modules:hover { border:solid 1px #318ae4; }
.dropdown-items-modules li:hover{ color:#fff; background-color:#318ae4; }


