<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
    <title>厂盟</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/home/index.css" rel="stylesheet" />

    <script src="/modules/plug/doT.js"></script>    
    <script src="/Scripts/jquery-1.11.1.js"></script>    
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (obj) {
            obj.init();
        });        
    </script>
</head>
<body>
    <div class="site-header">
        <div class="container">
            <div class="logo">
                <img class="left" src="~/modules/images/logo_login.png" alt="厂盟智能" />
                <span class="left">厂盟智能</span>
            </div>
            <div class="login">
                <a class="right" href="http://zngc.intfactory.cn/">登陆</a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="publicity" style="width:100%;">
        <img src="~/modules/images/ zngc-1.png"/>
        <img src="~/modules/images/ zngc-2.png"/>
        <img src="~/modules/images/ zngc-3.png"/>
        <img src="~/modules/images/ zngc-4.png"/>
        <img src="~/modules/images/ zngc-5.png"/>
        <img src="~/modules/images/ zngc-6.png"/>    
    </div>
</body>
</html>
