@{
    ViewBag.Title = "厂盟智能 | 首页-企业供应链SaaS平台";
    ViewBag.name = "Index";
}
@section css{
    <link href="/modules/css/index.css" rel="stylesheet" />    
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}

<div class="head-content">
    <div class="content">
        <div>重新定义柔性生产</div>
        <div class="content-desc">面对服装加工行业的智能化SaaS平台</div>
        <a href="http://zngc.intfactory.cn/Home/Register">免费注册</a>
        <div class="ali-zngc">
            <img src="/modules/images/home/index-ali.png" />
            <div>首家与阿里巴巴-淘工厂对接的ISV服务商</div>
        </div>        
    </div>
</div>

<div class="visualization">
    <div class="visualization-content">
        <div class="txt-content">
            <div class="head-title">可视化</div>
            <ul class="content-ul">
                <li class="hover" data-url="/modules/images/home/index-chk1.png">                    
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">信息可视化</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
                <li data-url="/modules/images/home/index-chk2.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">进度监控</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/index-chk3.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">时间到期预警</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
            </ul>
        </div>
        <div class="img-content">            
            <img src="/modules/images/home/index-chk1.png" />
        </div>
    </div>
</div>

<div class="team">
    <div class="team-content">
        <div class="img-content">            
            <img src="/modules/images/home/index-chk3.png" />
        </div>
        <div class="txt-content">
            <div class="head-title">智能协作</div>
            <ul class="content-ul">
                <li class="hover" data-url="/modules/images/home/index-chk3.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">工厂间协作</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/index-chk2.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">内部协作</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>               
            </ul>
        </div>        
    </div>
</div>

<div class="share">
    <div class="share-content">
        <div class="txt-content">
            <div class="head-title">资源共享</div>
            <ul class="content-ul">
                <li class="hover" data-url="/modules/images/home/index-chk2.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">分享客户资源</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
                <li data-url="/modules/images/home/index-chk3.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">原材料共享</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/index-chk1.png">
                    <i class="iconfont left font30 mRight10 mTop5">&#xe610;</i>
                    <div class="title-div">共享服装款式</div>
                    <div>订单，任务，排期，库存等数据一目了然</div>
                </li>
            </ul>
        </div>
        <div class="img-content">            
            <img src="~/modules/images/home/index-chk2.png" />
        </div>
    </div>
</div>

<div class="demo">
    <h2>让服装生产更智能</h2>
</div>

<div class="case">
    <div style="width:1200px;margin:auto;">
        <div class="center font30 pTop40 mBottom100">客户案例</div>
        <ul class="case-company">
            <li>                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                                            
            </li>
            <li>                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                                           
            </li>
            <li style="margin:0;">                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                       
            </li>
            <li>                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                            
            </li>
            <li>                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                                
            </li>
            <li style="margin:0;">                
                <img src="/modules/images/case/anlile-1.png" />
                <a href="/Case/Case">
                    <div class="bg">
                        <div class="company">杭州慕白科技有限公司</div>
                        <div class="case-desc">
                            <div>杭州慕白服饰有限公司</div>
                            <p>为什么选择智能工厂？</p>
                            <p>因为我们公司采用的是小组作业中心制，来自公司不同的部门，不同小组处理不同类型的客户项目</p>
                        </div>   
                    </div>
                </a>                   
            </li>            
        </ul>
    </div>    
</div>
