@{
    ViewBag.Title = "厂盟智能 | 首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="/modules/css/index.css" rel="stylesheet" />
    <link href="/modules/plug/js-img-switching/index-img-switching.css" rel="stylesheet" />
    <link href="/modules/plug/carousel/css/8dc3a597.css" rel="stylesheet" />
}
@section scripts{    
    <script type="text/javascript">
        seajs.use(["scripts/home/index"], function (ObjectJS) {
            ObjectJS.init();
        })        
    </script>
    <script src="/modules/plug/js-img-switching/index-img-switching.js"></script> 
    @* 旋转木马 *@   
    <script src="/modules/plug/carousel/js/6d510e95.js"></script>
}

<!-- 代码 开始 -->
  <div id="playBox">
    <div class="pre"></div>
    <div class="next"></div>
    <div class="smalltitle">
      <ul>
        <li data-title="CRM+进销存 = 智能工厂" data-txt="让营销行云流水" class="thistitle"></li>
        <li data-title="a" data-title2="2" data-txt="aa" data-txt2="22" ></li>
        <li data-title="b" data-title2="3" data-txt="bb" data-txt2="33" ></li>
      </ul>
    </div>
    <ul class="oUlplay">
       <li><img src="/modules/images/home/index-_03.png" /></li>        
       <li><img src="/modules/images/home/index-br0-cloud-left.png" /></li>        
       <li><img src="/modules/images/home/index-br0-cloud-right.png" /></li>
        
    </ul>
  </div>
<!-- 代码 结束 -->
<div class="img-head" id="img-head">    
    <div class="floating">
        <div class="title1">CRM+进销存 = 智能工厂</div>
        <div class="colortxt txt">让营销行云流水</div>        
        <div class="register font16"><a href="http://edj.yunxiaokeji.com/Home/Register">免费注册</a></div>
    </div>
</div>
<div class="solve">
    <div class="center font24 pTop30">智能工厂&nbsp;能为企业解决什么！</div>    
    <div class="sove-img">
        <img src="~/modules/images/home/index-2.png" />
        <div data-id="0" class="solve-top hover"></div>
        <div data-id="1" class="solve-right"></div>
        <div data-id="2" class="solve-bottom"></div>
        <div data-id="3" class="solve-left"></div>        
    </div>
    <div class="ask-answer">
        <div class="ask"></div>
        <div class="ask-pointer"></div>
        <div class="answer"></div>
        <div class="answer-pointer"></div>
    </div>
</div>
<div class="title">智能工厂&nbsp;能为企业解决什么！</div>
<div class="title-line"></div>
<div class="title-main">CRM(客户管理)</div>
<div class="title-descripition">协助您搭建销售体系，提升团队效率和销售业绩</div>
<div class="customer">
    <div id="dg-container" class="dg-container inner">
        <div class="dg-wrapper folded">                
            <a data-index="0" class="outbound previous1">
                <img src="/modules/images/home/index-kh0.png" />                  
            </a>
            <a data-index="1" class="outbound dg-center">
                <img src="/modules/images/home/index-kh1.png">                
            </a>
            <a data-index="2" class="outbound next1">
                <img src="/modules/images/home/index-kh2.png">                
            </a>               
        </div>
        <i class="iconfont dg-prev"></i>
        <i class="iconfont dg-next"></i>
    </div>
    <ul class="customer-details">
        <li class="mRight40 one" data-index="0">
            <div class="title-head">客户基本信息管理</div>
            <div>提供360度客户视图，重点客户，实时跟进，有效盘活客户线索，充分挖掘客户资源</div>
        </li>
        <li class="mRight40 hover two" data-index="1">
            <div class="title-head">销售漏斗灵活自定义</div>
            <div>企业根据自身特性，有效制定销售体系，合理地管理和分配客户资源，灵活多变，适应性强</div>
        </li>
        <li class="three" data-index="2">
            <div class="title-head">客户统计实时查看</div>
            <div>统计精准，提升业绩预判，重点商机实时跟进追踪</div>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="customer-bevel"></div>
</div>
<div class="repertory">
    <div class="title-main">进销存</div>
    <div class="title-descripition">千万产品，管理就这么简单</div>
    <div style="width:1050px;margin:auto">
        <ul class="repertory-details">
        <li class="mRight50 hover" data-url="/modules/images//home/index-jxc0.png">
            <div class="title-head">智能管理产品信息</div>
            <div>产品分类、属性一次定义，快捷添加；智能搜索，快速精准</div>
        </li>
        <li class="mRight50" data-url="/modules/images//home/index-jxc1.png">
            <div class="title-head">库存管理，简单轻便</div>
            <div>库存动态预警，订单状态快捷筛选，有效管理产品进出库存</div>
        </li>
        <li data-url="/modules/images//home/index-jxc2.png">
            <div class="title-head">库存统计，简单便捷</div>
            <div>数据报表导出，数据统计图形化，让数据说话</div>
        </li>
        <div class="clear"></div>
    </ul>
        <div class="jxc-img">        
        <img src="/modules/images/home/index-jxc0.png" />       
    </div>
        <div class="clear"></div>
    </div>
    
    <div class="repertory-bevel-down"></div>
</div>
<div class="agent">
    <div class="title-main">会员管理</div>
    <div class="title-descripition">规模化的流程管理,管理库存不在繁琐</div>
    <div style="width:1050px;margin:auto">        
        <div class="agent-img">
            <img src="/modules/images/home/index-dls0.png" />
        </div>  
        <ul class="agent-details">
            <li class="mRight50 hover" data-url="/modules/images/home/index-dls0.png">
                <div class="title-head">会员自定义设置</div>
                <div>提供会员等级、积分自定义设置，方式灵活多变</div>
            </li>
            <li class="mRight50" data-url="/modules/images/home/index-dls1.png">
                <div class="title-head">会员营销统计</div>
                <div>通过打标签、分组，有针对性地实施营销计划</div>
            </li>
            <div class="clear"></div>        
        </ul>
        <div class="clear"></div>
    </div>
    @*<div class="agent-bevel"></div>*@
</div>
@*<div class="look">查看更多</div>*@
<div class="instructions">
    <div class="instructions-txt">
        <div class="font24">一切解决<a class="font24" style="border-bottom:1px solid #000;padding-bottom:3px;color:#000;">在云端</a></div>
        <div>您所需要的，就是把问题交给它，【智能工厂】会精心打理您的业务，让您有精力去处理更重要的事，而且一切在云端完成，国内一流SaaS平台服务，为您的业务保驾护航，与您一同乘风破浪</div>
    </div>
    <img src="/modules/images/home/index-4.png" />
</div>
<div class="applicable-industry">
    <div class="title-main">超过300家企业使用智能工厂</div>
    <div class="img left">
        <img style="width:100%;height:300px" src="/modules/images/home/index-9.png" />        
        <div class="education">服装</div>
        <a href="/Case/Case"><div class="education-floating">
            <div>服装是伟大的事业</div>
        </div></a>       
    </div>
    <div class="img2">
        <img style="width:100%;height:300px;" src="/modules/images/home/index-12.png" />
        <div class="garment">酒水</div>
        <a href="/Case/Case"><div class="garment-floating">
            <div>酒水是伟大的事业</div>
        </div></a>
    </div>
</div>
<div class="probation">
    <img src="/modules/images/home/index-11.png" />
    <div class="probation-txt">
        <div>让工作变得简单，从现在开始使用</div>
        <div class="mBottom40">现在注册，可享受60天免费试用</div>
        <a href="http://edj.yunxiaokeji.com/Home/Register">立即免费试用</a>
    </div>
</div>

