<!DOCTYPE html>
<html>
<head>
<title>厂盟智能 | 面向服装生产行业的流程管理SaaS平台</title>
    @{
        Layout = null;
        }
 <meta name="keywords" content="厂盟智能、厂盟、智能工厂、上海厂盟智能科技有限公司、服装加工生产" />
<meta name="description" content="智能工厂是一款面向服装生产行业的流程管理SaaS应用平台，实现订单一对一可视化管理，让服装生产变得更简单" />
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/index.css" rel="stylesheet" /> 
    
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    <style type="text/css">
        body {
            background-color:#c9e4e1;
        }
        .head-content {
            width:100%;
            height:350px;
        }
        .head-content .content {
            height:300px;
            padding-top:50px;
        }
        .txt-content .head-title {
        margin-top:40px;
        }
        .contentwidth {
            width:340px;
            margin:0 auto;
           
        }
        .txt-content .content-ul li {
        width:338px;
        }
        .case-company {
        padding-bottom:50px;
        }
        .case .case-company li {
        width:338px;
        margin-right:0px;
        clear:both;
        }

        .visualization {
        height:1400px;
        }
        .team {
        height:1040px;
        }
        .share {
        height:1400px;
        }
        .content-ul li div:last-child {
        margin-left:30px;
        }
        .mLeft40 {
        margin-left:40px;
        }
    </style>
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/newindex"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
    </head>
<div class="head-content">
    <div class="content">
        <div>重新定义柔性生产</div>
        <div class="content-desc">首家与阿里巴巴-淘工厂对接的ISV服务商</div>
        <a href="http://zngc.intfactory.cn/Home/Register">免费注册</a>     
    </div>
</div>

<div class="visualization">
    <div class="visualization-content contentwidth">
        <div class="txt-content">
            <div class="head-title">可视化</div>            
            <ul class="content-ul">
                <li  data-url="/modules/images/home/index-chk1.png">                    
                    <i class="iconfont">&#xe60a;</i>
                    <div class="title-div">数据可视化</div>
                    <div class="mLeft40">客户、订单、材料、供应商等信息直接录入平台。安全、同步，随时随地查看</div>
                    <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/index-chk1.png" />
                    </div>
                </li>
                <li data-url="/modules/images/home/cm-a2.png">
                    <i class="iconfont">&#xe60b;</i>
                    <div class="title-div">生产流程可视化</div>
                    <div class="mLeft40">按照品类自定义生产流程和排期，所有订单生产流程进度和状态一目了然</div>
                    <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/cm-a2.png" />
                    </div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/cm-a3.png">
                    <i class="iconfont">&#xe60c;</i>
                    <div class="title-div">信息预警</div>
                    <div class="mLeft40">根据订单以及任务的交付日期，系统提前自动做出预警提醒，确保订单和任务按时按质按量完成</div>
                    <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/cm-a3.png" />
                    </div>
                </li>
            </ul>
        </div>
       @* <div class="img-content">            
            <img class="img-load" style="max-height:600px;" data-src="/modules/images/home/index-chk1.png" />
        </div>*@
    </div>
</div>

<div class="team">
    <div class="team-content contentwidth">
     @*   <div class="img-content">            
            <img class="img-load" style="max-height:600px;" data-src="/modules/images/home/index-chk2.png" />
        </div>*@
        <div class="txt-content">
            <div class="head-title">智能协作</div>            
            <ul class="content-ul">
                <li class="" data-url="/modules/images/home/index-chk2.png">
                    <i class="iconfont">&#xe60e;</i>
                    <div class="title-div">内部协作</div>
                    <div class="mLeft40">订单开始后任务自动派发，任务负责人可灵活选择参与人员，自由讨论，降低沟通成本，提高生产效率</div>
                    <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/index-chk2.png" />
                    </div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/cm-b2.png">
                    <i class="iconfont">&#xe60d;</i>
                    <div class="title-div">工厂间协作</div>
                    <div class="mLeft40"> 通过平台进行跨工厂协作，订单一键委托，实时查看生产进度</div>
                    <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/cm-b2.png" />
                    </div>
                </li>               
            </ul>
        </div>        
    </div>
</div>

<div class="share">
    <div class="share-content contentwidth">
        <div class="txt-content">
            <div class="head-title">资源共享</div>            
            <ul class="content-ul">
                <li class="" data-url="/modules/images/home/index-chk3.png">
                    <i class="iconfont">&#xe60f;</i>
                    <div class="title-div">原材料共享</div>
                    <div class="mLeft40">平台入驻优质材料供应商，解决找材料费时费力等难题，降低材料采购成本</div>
                      <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/index-chk3.png" />
                    </div>
                </li>
                <li data-url="/modules/images/home/cm-c2.png">
                    <i class="iconfont">&#xe610;</i>
                    <div class="title-div">客户资源共享</div>
                    <div class="mLeft40">工厂之间共享客户资源，让淡季不再淡，旺季不再忙，实现利润最大化</div>
                     <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/cm-c2.png" />
                    </div>
                </li>
                <li style="margin:0;" data-url="/modules/images/home/cm-c3.png">
                    <i class="iconfont">&#xe611;</i>
                    <div class="title-div">款式共享</div>
                    <div class="mLeft40">为有自主研发能力的工厂提供样衣中心，方便客户选款拼单</div>
                      <div class="mTop15">
                        <img class="img-load" style="max-height:260px;" data-src="/modules/images/home/cm-c3.png" />
                    </div>
                </li>
            </ul>
        </div>
        @*<div class="img-content">            
            <img class="img-load" style="max-height:600px;" data-src="/modules/images/home/index-chk3.png" />
        </div>*@
    </div>
</div>

<div class="demo">
    <h2>让服装生产更智能</h2>
</div>

<div class="case">
    <div class="contentwidth">
        <div class="center font30 pTop40 mBottom30">客户案例</div>
        <ul class="case-company">
            <li>                
                <img class="img-load" data-src="/modules/images/home/IMG_8305.png" />
                <a>
                    <div class="bg">
                        <div class="company hide">上海慕白服饰有限公司</div>
                        <div class="case-desc" style="display:block;">
                            <div>上海慕白服饰有限公司</div>                           
                            <p>以往客户来电咨询订单进度，要找各个环节人员逐一询问，不但耗时间，而且影响员工工作，现在通过系统搜索定位，能够快速响应客户，也不用再每天汇总员工工作	</p>
                        </div>   
                    </div>
                </a>                                            
            </li>
            <li>                
                <img class="img-load" data-src="/modules/images/home/IMG_8306.png" />
                <a>
                    <div class="bg">
                        <div class="company hide">杭州乔迪服饰有限公司</div>
                        <div class="case-desc" style="display:block;">
                            <div>杭州乔迪服饰有限公司</div>                           
                            <p> 以前订单多的时候，任务安排比较乱，订单延期交付情况严重，现在通过智能工厂订单和任务排期功能，任务安排更加合理，很少出现漏排、多排的情况，减少了订单延期现象</p>
                        </div>   
                    </div>
                </a>                                           
            </li>
            <li style="margin:0;">                
                <img class="img-load" data-src="/modules/images/home/IMG_8307.png" />
                <a>
                    <div class="bg">
                        <div class="company hide">杭州悠远针织服饰有限公司</div>
                        <div class="case-desc" style="display:block;">
                            <div>杭州悠远针织服饰有限公司</div>
                            <p>款式和材料信息都录在系统中，信息实时更新，采购员拿着手机就能外出采购，报价单一键生成就能发送给客户，简单高效，方便很多</p>
                        </div>   
                    </div>
                </a>                       
            </li>            
        </ul>
    </div>    
</div>
</html>
