@{
    ViewBag.Title = "厂盟智能 | 服务-企业供应链SaaS平台";
    ViewBag.name = "Services";  
}
@section css{
    <link href="/modules/css/services.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/services/services"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}
<div class="head-information">    
    <div class="information">
        <div class="font30 colorfff mBottom50">服务特点</div>
        <ul class="trait">
            <li>
                <i class="iconfont">&#xe608;</i>
                <div class="font24 colorfff mBottom20">专业</div>
                <div class="trait-desc">多年行业经验</div>
                <div class="trait-desc">为您提供最合理的解决方案</div>
            </li>
            <li>
                <i class="iconfont">&#xe606;</i>
                <div class="font24 colorfff mBottom20">专属</div>
                <div class="trait-desc">专属产品顾问</div>
                <div class="trait-desc">一对一培训指导</div>
            </li>
            <li>
                <i class="iconfont">&#xe607;</i>
                <div class="font24 colorfff mBottom20">专注</div>
                <div class="trait-desc">7*24小时</div>
                <div class="trait-desc">全天候在线支持</div>
            </li>
        </ul>        
    </div>
</div>

<div class="services-project">
    <div class="font30 color000 center pTop40 mBottom100">服务项目</div>
    <ul class="project">
        <li>
            <img src="/modules/images/services/service-pic1.png" />
            <div class="project-title">全天在线</div>
            <div class="project-desc">24小时全天候为您在线</div>
            <div class="project-desc">不论何时，第一时间解决您的疑惑</div>
        </li>
        <li>
            <img src="/modules/images/services/service-pic2.png" />
            <div class="project-title">上门培训</div>
            <div class="project-desc">覆盖地区上海、广东、浙江、江西</div>
            <div class="project-desc">综合企业特点，提供解决方案，进行演示</div>
        </li>
        <li style="margin:0">
            <img src="/modules/images/services/service-pic3.png" />
            <div class="project-title">活动沙龙</div>
            <div class="project-desc">线下组织企业成员深层交流，为企业排忧解难，促进行业间经验交流、分享</div>
            
        </li>
    </ul>
</div>

<div class="secure">
    <div class="font30 colorfff center pTop40 mBottom50">安全介绍</div>
    <ul class="secure-desc">
        <li class="hover" data-id="one">
            <i class="iconfont">&#xe603;</i>
            <div class="secure-desc-title">硬件安全保障<div class="triangle"></div><div class="triangle2"></div></div>            
        </li>
        <li data-id="two">
            <i class="iconfont">&#xe604;</i>
            <div class="secure-desc-title">全面的容灾举措<div class="triangle"></div><div class="triangle2"></div></div>            
        </li>
        <li data-id="three" style="margin:0;">
            <i class="iconfont">&#xe605;</i>
            <div class="secure-desc-title">良好的职业操守<div class="triangle"></div><div class="triangle2"></div></div>            
        </li>
    </ul>
    <div class="secure-desc-txt one">
        <div class="secure-txt">数据安全首先是存放数据的服务器在物理上的安全。一旦服务器发生故障、丢失数据会给企业带来巨大损失。</div>
        <div class="secure-txt">厂盟智能使用的是阿里巴巴聚石塔高配集群服务器，附件存储使用的是“七牛”第三方服务器存储，保障数据随时完整可用。</div>
        <div class="secure-txt">阿里巴巴服务器提供自动快照备份，同时还提供DDoS 防护、木马查杀、防暴力破解等一系列安全举措，在网络层和硬件层面上我们提供坚实的后盾。</div>
    </div>
    <div class="secure-desc-txt two hide">
        <div class="secure-txt">为保障客户数据永不丢失并能7x24小时不间断流畅运行，</div>
        <div class="secure-txt">厂盟智能使用多台服务器相互备份和异地备份的方式，每天凌晨在多个地理位置留下加密的数据备份，同时，我们使用的是集群服务器和数据库技术，能够在最大程度上保障系统能够稳定流畅地运行。</div>
        <div class="secure-txt">厂盟智能平台支持客户数据的批量导出，报表输出等功能，可以确保客户数据最高的灵活度。</div>
    </div>
    <div class="secure-desc-txt three hide">
        <div class="secure-txt">厂盟智能与所有购买用户签订协议，保证不会将用户产生的具体数据提供任何无关第三方，</div>
        <div class="secure-txt">所有服务购买合同中包括数据保密条款，厂盟智能主动承担保密的法律和经济责任</div>
        <div class="secure-txt">我们对数据使用流程制定了严格的制度。只有公司技术负责人才可以掌握生产服务器及业务数据库密码。</div>
        <div class="secure-txt">对数据的维护操作，必须由公司技术负责人执行，其他开发团队、维护团队不能独立接触到真实客户数据。</div>
    </div>
    
</div>
