@{
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "Contents";
}
@{
    <link href="/modules/css/contents/contents.css" rel="stylesheet" />
}
   

<div class="head-content-menu">
    <div class="content">
        <ul class="content-title cleat-after">
            <li class="hover">工作台</li>
            <li>客户</li>
            <li>订单</li>
            <li>任务</li>
            <li>材料</li>
            <li>系统设置</li>
            <li>智能工厂客户端</li>
        </ul>
    </div>
</div>
