@{
    var QAcontents = (List<IntFactoryEntity.ContentEntity>)ViewBag.QAcontents;
    var HotQAContents = (List<IntFactoryEntity.ContentEntity>)ViewBag.HotQAContents;
    var FeedBackContents = (List<IntFactoryEntity.ContentEntity>)ViewBag.FeedBackContents;
    ViewBag.Title = "厂盟 | 热门问题";
    ViewBag.TitleName = "problems";
}
@section css{
    <link href="/modules/css/Problems/hotproblems.css" rel="stylesheet" />
}

<div class="head-content-menu">
    <div class="content content-width">
        <div class="head-menu">
            <a href="/Home/Index">帮助中心</a>
            <span>></span>
            <a href="/Problems/Problems">常见问题</a>
            <span>></span>
            <a>热门问题</a>
        </div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
    </div>
</div>

<div class="details content-width clear-after">
    <ul class="number">
        <li class="item-all">最多浏览</li> 
        @{
            foreach (var qa in HotQAContents)
             {
                 <li class="width300 long"><a href='/Problems/ProblemsDetail/@qa.ContentID'>· @qa.Title</a></li>
             }
        }       
    </ul>
    <ul>
        <li>最多反馈</li>
        @{
            foreach (var qa in FeedBackContents)
             {
                 <li class="width300 long"><a href='/Problems/ProblemsDetail/@qa.ContentID'>· @qa.Title</a></li>
             }
        }    
    </ul>
    <ul class="create" style="margin-right:0;">
        <li class="item-all">最近更新</li>  
        @{
            foreach (var qa in QAcontents)
             {
                 <li class="width300 long"><a href='/Problems/ProblemsDetail/@qa.ContentID'>· @qa.Title</a></li>
             }
        }      
    </ul>
</div>