@{
    var modol = (IntFactoryEntity.ContentEntity)ViewBag.list;
    ViewBag.Title = "厂盟 | 详情页";
    ViewBag.TitleName = "problems";
}
@section css{
    <link href="/modules/css/Problems/problems.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        $("#remark").html(decodeURI("@(modol.Detail)"));  
        seajs.use(["scripts/problems/problemsdetail"], function (ObjectJS) {
            ObjectJS.init();
        }); 
    </script>
}


<div class="head-content-menu">
    <div class="content">
        <div class="head-menu">
            <a href="/Home/Index">帮助中心</a>
            <span>></span>
            <a href="/Problems/Problems">常见问题</a>
            <span>></span>
            <a href="/Problems/Problems">@(modol.TypeName)</a>
        </div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
    </div>
</div>

<div class="details">
    <div class="category">
        <div class="details-title">初次登陆配置项</div>
        <ul class="information clear-after">
            <li class="left">
                创建时间：
                <span>@(modol.CreateTime)</span>
            </li> 
            
            <li class="right">
                浏览：
                <span>@(modol.ClickNumber)</span>
            </li>
        </ul>
        <div id="remark"></div>
    </div>
    <div class="example">
        <ul>
            <li class="item-all"><div>热门问题</div></li>
            
            <li><a href="/Problems/HotProblems">更多 >></a></li>
        </ul>
    </div>
</div>

<ul class="foot-problems">
    <li>
        <a href="/Problems/Problems">
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">常见问题</span>
            <span class="txt txt-desc">新版本后的权限逻辑常见问题解答</span>
        </a>
    </li>
    <li>
        <a href="/Problems/Problems">
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">常见问题</span>
            <span class="txt txt-desc">新版本后的权限逻辑常见问题解答</span>
        </a>
    </li>
    <li>
        <a href="/Problems/Problems">
            <img src="/modules/images/home/1.png" />
            <div class="bg-jianbian"></div>
            <span class="txt">常见问题</span>
            <span class="txt txt-desc">新版本后的权限逻辑常见问题解答</span>
        </a>
    </li>
</ul>
