@{
    var list = (List<IntFactoryEntity.TypeEntity>)ViewBag.list;
    ViewBag.Title = "厂盟 | 常见问题";
    ViewBag.TitleName = "Problems";
}
@section css{
    <link href="/modules/css/Problems/problems.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["scripts/problems/problems"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}
<div class="head-content-menu">
    <div class="content">
        <div class="head-menu">
            <a href="/Home/Index">帮助中心</a>
            <span>></span>
            <a>常见问题</a>
        </div>
        <div class="head-search">            
            <input class="search-txt" type="text" placeholder="搜索相关问题" />
            <i class="iconfont">&#xe618;</i>
        </div>
    </div>
</div>

<div class="details">
    <div class="category">
        <ul class="category-menu">
            @if (list.Count>0)
            {
                foreach (var item in list)
                {
                    <li class="" data-id="@(item.TypeID)">@(item.Name)<div class="category-line"></div></li>
                }
            }            
        </ul>
        <ul class="problems-details">
            
        </ul>
        <div class="load-more">加载更多</div>
    </div>
    <div class="example">
        <ul>
            <li><div>热门问题</div></li>
            <li>· 如何快速上手智能工厂？</li>
            <li>· 智能工厂是什么？</li>
            <li>· 多成员使用是否有影响？</li>
            <li>· 有个性化需求怎么办？</li>
            <li>· 智能工厂的收费模式？</li>
            <li>· 是否通过第三方账号登录？</li>
            <li>· 如何快速上手智能工厂？</li>
            <li>· 智能工厂是什么？</li>
            <li>· 多成员使用是否有影响？</li>
            <li>· 有个性化需求怎么办？</li>
            <li>· 智能工厂的收费模式？</li>
            <li>· 是否通过第三方账号登录？</li>
            <li><a href="/Problems/HotProblems">更多 >></a></li>
        </ul>
    </div>
</div>