 <div class="update-details">
    <ul class="table-add">
        <li>
            <span class="column-title-template">分类类型:</span>
            <select class="update-select">  
                            
            </select>
        </li>
        <li>
            <span class="column-title-template">标题：</span>
            <input type="text" class="title"  style="width:160px;" />
        </li>
        <li>
            <span class="column-title-template">排序：</span>
            <input type="text" class="sort"  style="width:160px;" />
        </li>
        <li>
            <span class="column-title-template">描述：</span>
            <textarea class="desc"></textarea>
        </li>
    </ul>
</div>
