<div class="">
    <ul class="table-add" style="padding-left:0px;border-bottom:0px;padding-bottom:0px;">            
        <li style="width:400px;">
            <span class="column-title-template left">模块:</span>
            <div class="selector" id="select">
                <div class="item">
                    <i class="ico-radiobox check-lump hover" data-id="1"><span></span></i>
                    功能模块
                </div>
                <div class="item">
                    <i class="ico-radiobox check-lump" data-id="2"><span></span></i>
                    常见问题
                </div>
                <div class="item" style="margin:0">
                    <i class="ico-radiobox check-lump" data-id="3"><span></span></i>
                    新手指引
                </div>
            </div>            
        </li>
        <li>
                <span class="column-title-template">分类：</span> 
                <span><input type="text" maxlength="20" class="type"></span>
        </li>
        <li>
            <span class="column-title-template">附件:</span>
            <span class="btn" id="uploadImg" style="margin:0">图片上传</span>
        </li>
        <li>
            <ul id="cateGoryImages" class="category-img">

            </ul>
        </li>
    </ul>  
</div>