.content-title{ padding-top:70px;}
.content-title li{ float:left;margin-right:50px;padding:5px 10px;border:1px solid #0cb39e;color:#fff;margin-left:20px;opacity:0.8;cursor:pointer;}
.content-title .hover { border:1px solid #fff;background-color:#fff;color:#0cb39e;border-radius:3px;opacity:1;}

.content { width:1200px;margin:auto;}
.content .content-menu{float:left;background-color:#eee;width:300px;min-height:800px;}
.content .content-menu .head-search{text-align:center;border-radius:2px;position:relative;width:300px;margin:auto;border-bottom:1px dashed #ccc;}
.head-search .search-txt{color:#999;line-height:30px;width:250px;margin:auto;height:30px;font-size:14px;margin:20px;}
.head-search .search-txt:focus{border:1px solid #0cb39e;}
.head-search .iconfont{font-size:20px;color:#999;cursor:pointer;position:absolute;z-index:11;bottom:23px;right:25px;}
.head-search .iconfont:hover{color:#0cb39e;}

.menu { margin-top:20px;margin-bottom:30px;}
.menu-title { margin-left:20px;cursor:pointer;margin-top:15px;}
.menu-title i{color:#000;margin-right:5px;}
.menu-title span{font-size:16px;color:#000;}
.tag i{ color:#0cb39e;}
.tag span{ color:#0cb39e;}
.item { margin-left:50px;margin-top:10px;margin-bottom:10px;}
.item li{margin-top:10px;cursor:pointer;padding-left:13px;line-height:25px;height:25px;}
.item li span{font-size:16px;padding:5px;color:#555;}
.item li:hover span{background-color:#0cb39e;color:#fff;}
.item .hover{padding:0;}
.item .hover::before{content:">";color:#0cb39e;font-size:18px;}
.item .hover span{color:#0cb39e;}






.content .contents-remark { float: left; width:900px;}
.content .contents-remark .remark{min-height:500px;}
.contents-list { border-top:1px solid #ccc;margin:0px 20px;}
.contents-list .contents-item { margin-top:20px;margin-left:25px;float:left;width:350px;}
.contents-list .contents-item ul li:first-child{color:#000;}
.contents-list .contents-item ul li{line-height:30px;font-size:16px;}
.contents-list .contents-item ul li a{color:#555;font-size:16px;}

.contents-list .contents-item .problems-list{border-right:1px solid #ccc;}
.contents-list .contents-item .news-list{margin-left:30px;}