.content .content-menu{float:left;background-color:#eee;width:250px;min-height:750px;}
.content .content-menu .head-content-search{text-align:center;border-radius:2px;position:relative;margin:auto;border-bottom:1px dashed #ccc;}
.head-content-search .search-txt{color:#999;line-height:30px;width:200px;margin:auto;height:30px;font-size:14px;margin:20px;}
.head-content-search .search-txt:focus{border:1px solid #0cb39e;}
.head-content-search .iconfont{font-size:20px;color:#999;cursor:pointer;position:absolute;z-index:11;bottom:23px;right:25px;}
.head-content-search .iconfont:hover{color:#0cb39e;}

.menu-title { margin-left:20px;cursor:pointer;margin-top:15px;}
.menu-title i{color:#000;margin-right:5px;}
.menu-title span{font-size:16px;color:#000;}
.tag i,.tag span{ color:#0cb39e;}
.item { margin-left:50px;margin-top:10px;margin-bottom:10px;}
.item li{margin-top:10px;cursor:pointer;padding-left:13px;line-height:25px;height:25px;}
.item li span,.menu .items span{font-size:16px;padding:5px;color:#666;}
.item li:hover span,.menu .items:hover span{background-color:#0cb39e;color:#fff;}
.item .hover,.menu .hover{padding:0 !important;}
.item .hover::before,.menu .hover::before{content:">";color:#0cb39e;font-size:18px;}
.item .hover span,.menu .hover span{color:#0cb39e;}

.menu .items {margin-left: 50px;margin-top: 25px;cursor: pointer;padding-left:13px;}

.content .contents-remark { float: left; width:840px;margin-left:10px;}
.content .contents-remark .title{font-size:30px;color:#000;margin-bottom:20px;margin-top:20px;}
.content .contents-remark .remark{min-height:340px;}
.contents-list { border-top:1px solid #ccc;margin:0px 20px;padding-bottom:20px;}
.contents-list .contents-item { margin-top:20px;margin-left:25px;float:left;width:350px;}
.contents-list .contents-item ul li:first-child{color:#000;}
.contents-list .contents-item ul li:hover a{color:#0cb39e;}
.contents-list .contents-item ul li{line-height:30px;font-size:16px;}
.contents-list .contents-item ul li a{color:#666;font-size:16px;}
.contents-list .contents-item .problems-list{border-right:1px solid #ccc;}
.contents-list .contents-item .news-list{margin-left:30px;}