.newbie {}
.newbie .newbie-title{font-size:24px;color:#000;margin-top:20px;margin-bottom:10px;}
.newbie .newbie-info li{float:left;margin-bottom:20px;color:#aaa;}
.newbie .newbie-info li span,.newbie-info .right,.newbie-info .right span{color:#aaa;}

