@{
    ViewBag.Title = "厂盟 | 帮助中心";
    ViewBag.TitleName = "FeedBack";
}
@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/modules/css/feedback/feedback.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/feedback/feedback"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}

<div class="head-content-menu">
    <div class="content">
        <span class="hover" data-id="content-feedback">在线反馈</span>
        <span data-id="content-item">反馈查询</span>
    </div>
</div>

<div class="content-feedback">
    <div class="content-body" style="box-shadow:none;">
        <div class="feed-top">
            <h1>在线反馈</h1>
        </div>
        <div class="feed-type descript-text">
            <div>反馈类型：</div>
            <div>
                <select class="dropdown-list">
                    <option value="1">问题</option>
                    <option value="2">意见</option>
                    <option value="3">需求</option>
                </select>
            </div>

        </div>
        <div class="clear"></div>
    
        <div class="feed-description descript-text">
            <div>具体问题：</div>
            <div>
                <textarea class="txt-description" placeholder="请描述一下您遇到的问题"></textarea>
            </div>

        </div>
        <div class="clear"></div>

        <div class="feed-annex descript-text" id="feedback-file">
            <div>附件：</div>
            <div style="line-height:40px;">
                <span class="mRight20 btn" id="upload">
                    选择附件
                </span>
                <span class="font14 color999">请把有问题的截图发给我们，方便分析、及时解决问题</span>
                <ul class="mTop10" id="feed-images">

                </ul>
            </div>
            
        </div>
        <div class="clear"></div>
    
        <div class="feed-name descript-text">
            <div>姓名：</div>
            <div>
                <input type="text" class="txt-name" />
            </div>

        </div>
        <div class="clear"></div>

        <div class="feed-phone descript-text">
            <div>联系邮箱：</div>
            <div>
                <input type="text" class="txt-phone" />
            </div>

        </div>
        <div class="feed-submit descript-text">
            <div></div>
            <div class="center mTop50">
                <input type="button" id="btn-feedback" value="提交" />
            </div>
        
        </div>
        <div class="clear"></div>
    </div>
    <div class="customer-service">
    <div class="title">联系客服</div>
    <div class="clear-after content-width">
        <ul class="content-txt clear-both">
            <li>
                <i class="iconfont">&#xe620;</i>
                <div>客服电话</div>
                <div>0571-56570741</div>
            </li>
            <li>
                <i class="iconfont">&#xe61f;</i>
                <div>客服邮箱</div>
                <div>customer@intfactory.cn</div>
            </li>
            <li>
                <i class="iconfont">&#xe61c;</i>
                <div>留言</div>
                <div class="hand"><a href="/FeedBack/FeedBack">点击进入在线反馈</a></div>
            </li>
            <li>
                <i class="iconfont">&#xe61b;</i>
                <div>QQ交流群</div>
                <div>121212121</div>
            </li>
        </ul>
    </div>
</div>
</div>

<div class="content-item clear-after hide">
    <div class="screening clear-after content-width">
        <div class="left font14 pLeft20" style="line-height:30px;margin-bottom:20px" >筛选：</div>
        <div id="procesSing" class="left mLeft10"></div>
        <div id="status" class="left mLeft10 mRight10"></div>        
        <div class="left mRight20" id="chooseBranch" ></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="反馈日期" style="width:180px;" />
        </div>
        <div class="right searth-module " data-text="反馈问题搜索" data-width="200"></div>
    </div>    
    <div class="search-sort content-width">
        <ul style=";" class="pLeft20">
            <li class="font14">排序：</li>
            <li class="sort-item hover" data-column="c.CreateTime">
                创建日期
                <span class="asc"></span>
                <span class="desc hover"></span>
            </li>                       
        </ul>
        <div class="clear"></div>
    </div>
    <table class="table-list feedback-details mTop10 content-width">
        <tr class="tr-header">   
            <td width="100" style="width:12%;">类型</td>  
            <td width="100" style="width:20%;">反馈时间</td>
            <td width="100" style="width:15%;">处理情况</td>
            <td width="100">提问内容</td>
            <td width="100" style="width:12%;"></td>
        </tr>
        
    </table>
    <div id="pager" class="center pBottom50"></div>
</div>