@{
    ViewBag.Title = "Index";
}
@section css{
    <link href="/modules/m/css/index.css" rel="stylesheet" /> 
}
<div class="head-content">
    <div class="content">
        <div class="title">让服装生产更简单</div>
        <a class="register" href="http://zngc.intfactory.cn/Home/Register">免费注册</a>
    </div>
</div>

<div class="item infomation">
    <div class="item-content">
        <div class="title">111111111111111</div>
        <div class="title">1111111111111111</div>
        <div class="list">
            <ul>
                <li>
                    <div class="logo iconfont">&#xe60a;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60b;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60c;</div>
                    <div class="logo-des">111111</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="img">
            <img src="/modules/m/images/index/info-1.png" />
        </div>
        <div class="des">
            11111111111111111111111111111 11111111111111111111111111111                                                                           
        </div>
    </div>
</div>

<div class="item task">
    <div class="item-content">
        <div class="title">111111111111111</div>
        <div class="title">1111111111111111</div>
        <div class="list">
            <ul>
                <li>
                    <div class="logo iconfont">&#xe60a;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60b;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60c;</div>
                    <div class="logo-des">111111</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="img">
            <img src="/modules/m/images/index/info-1.png" />
        </div>
        <div class="des">
            11111111111111111111111111111 11111111111111111111111111111                                                                           
        </div>
    </div>
</div>

<div class="item resource">
    <div class="item-content">
        <div class="title">111111111111111</div>
        <div class="title">1111111111111111</div>
        <div class="list">
            <ul>
                <li>
                    <div class="logo iconfont">&#xe60a;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60b;</div>
                    <div class="logo-des">111111</div>
                </li>
                <li>
                    <div class="logo iconfont">&#xe60c;</div>
                    <div class="logo-des">111111</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="img">
            <img src="/modules/m/images/index/info-1.png" />
        </div>
        <div class="des">
            11111111111111111111111111111 11111111111111111111111111111                                                                           
        </div>
    </div>
</div>