@{
    ViewBag.Title = "厂盟智能 | 首页";
}
@section css{
    <link href="/modules/m/css/index.css" rel="stylesheet" /> 
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["/modules/m/scripts/index"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}
<div class="head-content">
    <div class="content">
        <div class="title">让服装生产更简单</div>
        <a class="register" href="http://dev.intfactory.cn/home/register?source=app">免费注册</a>
    </div>
</div>

<div class="item infomation">
    <div class="item-content">
        <div class="title">去纸笔化，去表格化</div>
        <div class="title">各类信息一目了然</div>
        <div class="img">
            <img class="img-load" data-src="/modules/m/images/index/infomation-1.png" />
        </div>
        <div class="des">
            <span>客户、订单、材料、供应商等数据直接录入平台，安全存储，随时随地查看</span>
        </div>
        <div class="list">
            <ul>
                <li class="hover" data-img="/modules/m/images/index/infomation-1.png" data-id="0">
                    <div class="logo iconfont">&#xe60a;</div>
                    <div class="logo-des">数据可视化</div>
                </li>
                <li data-img="/modules/m/images/index/infomation-2.png" data-id="1">
                    <div class="logo iconfont">&#xe60b;</div>
                    <div class="logo-des">生产流程可视化</div>
                </li>
                <li data-img="/modules/m/images/index/infomation-3.png" data-id="2">
                    <div class="logo iconfont">&#xe60c;</div>
                    <div class="logo-des">信息预警</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        
    </div>
</div>

<div class="item task">
    <div class="item-content">
        <div class="title">工厂抱团齐发展</div>
        <div class="title">员工协作零距离</div>
        <div class="img">
            <img class="img-load" data-src="/modules/m/images/index/task-1.png" />
        </div>
        <div class="des">
            <span>订单开始后任务自动派发，任务负责人可灵活选择参与人员，自由讨论，降低沟通成本，提高生产效率</span>   
        </div>        
        <div class="list">
            <ul>
                <li class="hover" data-img="/modules/m/images/index/task-1.png" data-id="0">
                    <div class="logo iconfont">&#xe60d;</div>
                    <div class="logo-des">内部协作</div>
                </li>
                <li data-img="/modules/m/images/index/task-2.png" data-id="1">
                    <div class="logo iconfont">&#xe60e;</div>
                    <div class="logo-des">工厂间协作</div>
                </li>                
            </ul>
            <div class="clear"></div>
        </div>
        
    </div>
</div>

<div class="item resource">
    <div class="item-content">
        <div class="title">分享资源</div>
        <div class="title">实现利润最大化</div>        
        <div class="img">
            <img class="img-load" data-src="/modules/m/images/index/resource-1.png" />
        </div>
        <div class="des">
            <span>平台入驻优质材料供应商，解决找材料费时费力等难题，降低材料采购成本</span>   
        </div>
        <div class="list">
            <ul>
                <li class="hover" data-img="/modules/m/images/index/resource-1.png" data-id="0">
                    <div class="logo iconfont">&#xe60f;</div>
                    <div class="logo-des">原材料共享</div>
                </li>
                <li data-img="/modules/m/images/index/resource-2.png" data-id="1">
                    <div class="logo iconfont">&#xe610;</div>
                    <div class="logo-des">客户资源共享</div>
                </li>
                <li data-img="/modules/m/images/index/resource-3.png" data-id="2">
                    <div class="logo iconfont">&#xe611;</div>
                    <div class="logo-des">款式共享</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="item teamwork">
    <div class="item-content">
        <div class="title">首家与阿里巴巴-淘工厂</div>
        <div class="title">对接的ISV服务商</div>
        
        <div class="img">
            <img class="img-load" style="width:50%" data-src="/modules/m/images/index/mobile-ind-bttom-1.png" />
            <img class="mTop20 img-load" data-src="/modules/m/images/index/mobile-ind-bttom-2.png" />
        </div>
        <div class="desc">
            <a class="register" href="http://dev.intfactory.cn/home/register?source=app">免费注册</a>   
        </div>
    </div>
</div>