<html>
<head>
    <title>@ViewBag.Title</title>    
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/manage/css/layout.css" rel="stylesheet" />
    @RenderSection("css", false)
    
    
</head>
<body>
    <header class="header">
        <ul class="menu">
            <li class="hover" data-id="0">
                <a>分类模块</a>
            </li>
            <li data-id="1">
                <a>详情描述</a>
            </li>
            <li data-id="2">
                <a>系统设置</a>
            </li>
        </ul>
    </header>

    <nav class="nav-list">
        <ul class="list">
            
        </ul>
    </nav>

    <div class="main-content">
        @RenderBody()
    </div>
     





    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>    
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/layout"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
    @RenderSection("scripts",false)
</body>
</html>


