.details {margin:auto;min-height:500px;}
.details ul{margin-top:20px;width:300px;margin-right:70px;float:left;margin-bottom:50px;}
.details ul li:first-child{color:#0cb39e;font-size:18px;border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:20px;}
.details ul li:not(first-child){white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.details ul li:not(first-child) a{color:#333;line-height:2;}
.details ul li:not(first-child) a:hover{color:#0cb39e;}