.details {min-height:500px;}
.details .category{width:750px;float:left;margin-right:10px;}
.details .category .category-menu{margin-top:20px;border-bottom:2px solid #eee;}
.details .category .category-menu li{float:left;margin-right:20px;padding-bottom:14px;position:relative;cursor:pointer;margin-left:10px;}
.details .category .category-menu .hover .category-line{ border-bottom:2px solid #333;position:absolute;width:100%;bottom:-2px;padding:0px 9px;left:-10px;}

.problems-details .item{border-bottom:2px solid #eee;margin:30px 0px;}
.problems-details .item ul{display:table;width:100%;}
.problems-details .item ul li{display:table-cell;vertical-align:top;}
.problems-details .item .problems-title a{font-size:22px;color:#000;}
.problems-details .item .problems-desc{margin-bottom:20px;margin-top:30px;color:#666;line-height:28px;height:56px;overflow:hidden;text-overflow:ellipsis;}
.problems-details .item .problems-desc p, .problems-details .item .problems-desc a, .problems-details .item .problems-desc div, .problems-details .item .problems-desc span {
    color:#444!important;
}
.problems-details .item .look-detail{margin-bottom:20px;}
.problems-details .item .look-detail a{color:#0cb39e;font-size:14px;cursor:pointer;}
.problems-details .item .right img{width:200px;height:120px;}

.category .load-more{width:100%;background-color:#f2f2f2;text-align:center;height:40px;line-height:40px;margin:20px 0 40px 0;color:#999;cursor:pointer;}
.category .load-more:hover { color:#fff;background-color:#0cb39e;border-radius:3px;}

.example ul { width:330px;margin-right:5px;float:right;margin-top:50px;border:1px solid #ccc;margin-bottom:50px;}
.example ul li:first-child{background-color:#f2f2f2;padding:11px;margin-bottom:10px;}
.example ul li:first-child div{border-left:3px solid #0cb39e;font-size:20px;color:#666;padding:0px 10px;line-height:30px;}
.example ul li:not(first-child) a{color:#0cb39e;padding-left:10px;line-height:2;cursor:pointer;}
.example ul li:last-child a{color:#777;float:right;margin-right:10px;margin-top:10px;margin-bottom:10px;cursor:pointer;}

/*详情页*/

.details-title {text-align:center;font-size:24px;color:#000;border-bottom:1px solid #ccc;line-height:50px;}
.category .information {margin-top:10px;margin-bottom:20px;}
.category .information li{color:#aaa;font-size:16px}
.category .information li span{color:#aaa;font-size:16px;margin-right:30px;}

.remark img { max-width:750px;}

.foot-problems { border-top:3px solid #0cb39e;margin-top:50px;}
.foot-problems li{float:left;width:340px;height:200px;position:relative;margin:50px 0px 70px 20px;cursor:pointer;}
.foot-problems li img { width:340px;height:200px;}
.foot-problems li .txt { position:absolute;z-index:10;bottom:40px;left:10px;color:#fff;display:block;}
.foot-problems li .txt-desc{bottom:10px;font-size:16px;}
.foot-problems li .bg-jianbian { position:absolute;z-index:5;width:340px;height:200px;top:0;
                             background: -moz-linear-gradient(top,rgba(0,0,0,0.1)50%,rgba(0,0,0,0.5));        
                             background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.5));
                             background: -o-linear-gradient(top, rgba(0,0,0,0.1)50%,rgba(0,0,0,0.5));
                             background: -ms-linear-gradient(top,rgba(0,0,0,0.1)50%,rgba(0,0,0,0.5));
                             background: linear-gradient(top, rgba(0,0,0,0.1)50%,rgba(0,0,0,0.5));
}
