@{
    ViewBag.Title = "厂盟智能 | 产品";
}
@section css{
    <link href="/modules/m/css/procuct.css" rel="stylesheet" />
}

<div class="head-content">
    <div class="content">
        <div class="title">无需安装，无需维护，随时随地可使用</div>        
    </div>
</div>

<div class="item">
    <div class="item-content">
        <div class="title">工作台</div>
        <div class="title-desc">订单、任务合理排期，保障订单按期交付。员工负责的订单状态、任务状态一目了然。新订单、任务快捷处理，让工作更高效</div>
        <div class="img">
            <img src="/modules/m/images/product/mobile-product1.png" />
        </div>
    </div>    
</div>
<div class="item bgcolor">
    <div class="item-content">
        <div class="title">客户</div>
        <div class="title-desc">客户资源都集中，收益来得更轻松。客户信息归档，订单及时查询汇总。快捷查找，一键下单</div>
        <div class="img">
            <img src="/modules/m/images/product/mobile-product2.png" />
        </div>
    </div>    
</div>
<div class="item">
    <div class="item-content">
        <div class="title">订单</div>
        <div class="title-desc">订单智能分解，一键自动派发任务。订单详情任务流程可视化。根据录入信息，相关财务、用量数据自动计算</div>
        <div class="img">
            <img src="/modules/m/images/product/mobile-product3.png" />
        </div>
    </div>    
</div>
<div class="item bgcolor">
    <div class="item-content">
        <div class="title">任务</div>
        <div class="title-desc">同一订单所有任务阶段状态，任务负责人一目了然。单个任务负责人可添加任务成员协作完成。订单、任务状态变更，系统智能提醒，促进人员协作</div>
        <div class="img">
            <img src="/modules/m/images/product/mobile-product4.png" />
        </div>
    </div>    
</div>
<div class="item">
    <div class="item-content">
        <div class="title">材料</div>
        <div class="title-desc">集中管理供应商，并可快捷添加。材料根据订单智能适量采购，节省成本。库存智能预警，保障原材料充足</div>
        <div class="img">
            <img src="/modules/m/images/product/mobile-product5.png" />
        </div>
    </div>    
</div>