.head-content {background-color:#0cb39e;}
.head-content .content-top {background:url(/modules/images/home/help-ind1.png)no-repeat left;}
.head-content .content-top .head-title {font-size:30px;color:#fff;padding-top:80px;text-align:center; }
.head-content .content-top .head-search{text-align:center;border-radius:2px;position:relative;width:800px;margin:auto;}
.content-top .head-search .search-txt{font-size:18px;color:#999;line-height:50px;margin-left:10px;width:800px;margin:auto;height:50px;margin-top:60px;}
.content-top .head-search .search-txt:focus{border:1px solid #0cb39e;}
.content-top .head-search .iconfont{font-size:30px;color:#0cb39e;float:right;line-height:50px;cursor:pointer;position:absolute;z-index:11;top:0;right:0;}
.head-content .content-top .head-txt{font-size:18px;color:#eee;text-align:center;margin-top:20px;}
.head-content .content-bottom{background:url(/modules/images/home/help-ind2.png)no-repeat right 300px;}
.head-content .content-bottom .function{width:800px;margin:auto;margin-top:50px;padding-bottom:100px;}
.head-content .content-bottom .function::after{display:block;content:"";clear:both;}
.function li { float:left;margin-right:20px;margin-bottom:20px;width:178px;height:178px;border:1px solid #fff;border-radius:5px;position:relative;}
.function li .iconfont{font-size:80px;color:#fff;text-align:center;margin-left:50px;line-height:120px;}
.function li .desc{font-size:18px;text-align:center;width:180px;color:#fff}
.function li .detail{position:absolute;z-index:22;top:0;left:0;width:180px;height:180px;background-color:#fff;border-radius:5px;cursor:pointer;}
.function li .detail .txt{font-size:18px;color:#0cb39e;text-align:center;line-height:30px;width:140px;margin:auto;}





/*联系客服*/
.customer-service { background-color:#f2f2f2;}
.customer-service .title{font-size:30px;padding-top:30px;text-align:center;margin-bottom:50px;}
.customer-service .content{width:1200px;margin:auto;}
.customer-service .content .content-txt::after{display:block;content:"";clear:both;}
.content .content-txt li { float:left;width:300px;margin-bottom:50px;}
.content-txt li .iconfont { font-size:40px;float:left;height:50px;line-height:45px;color:#0cb39e;border:2px solid #0cb39e;width:50px;border-radius:50%;text-align:center;
                            margin-right:10px;margin-left:50px;}
.content-txt li div { line-height:25px;color:#0cb39e;}
