.search-item {min-height:600px;}
.search-content {width:800px;float:left;}
.search-content .search-title{border-bottom:solid 1px #ccc;}
.search-results .item { padding:20px 10px;border-bottom:dashed 1px #ccc;}
.search-results .item .item-desc{display:table;width:100%;}
.search-results .item .item-desc li{display:table-cell;vertical-align:top;width:100%;}
.search-results .item .item-desc li:last-child{width:160px;margin-left:20px;}
.search-results .item .right img{width:150px;height:80px;}
.search-results .item .results-title{margin-bottom:20px;}
.search-results .item .results-title .problem-title{color:#0cb39e;font-size:18px;float:left;}
.search-results .item .results-desc{font-size:16px;line-height:28px;color:#555;}
.search-results .item .results-desc span{font-size:16px;color:#555;}
.right-search { float:right;width:279px;border-left:1px solid #ccc;margin-left:10px;padding-left:10px;margin-top:10px;height:500px;}
.search-sort { background-color:#fff; height:50px;float:none;margin-bottom:20px;}
.search-sort li{ float:none; padding-left:10px; line-height:40px; color:#666; width:249px;}
.search-sort .sort-item { position:relative; cursor:pointer; font-size:14px;}
.search-sort .sort-item.hover { color:#0cb39e; background-color:#eee;}
.search-sort .sort-item .asc { position:absolute; top:12px; right:180px;  border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.search-sort .sort-item .desc { position:absolute; top:23px; right:180px;  border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.search-screening { margin-top:100px;}
.time-search li {padding-left:10px; line-height:40px; color:#666; width:269px;font-size:14px; cursor:pointer;}
.time-search .hover{color:#0cb39e; background-color:#eee;}
