.search-content {width:1200px;margin:auto;}
.search-content .search-title{border-bottom:solid 1px #ccc;}
.search-results .item::after {display:block;content:"";clear:both; }
.search-results .item { padding:20px 10px;border-bottom:dashed 1px #ccc;}
.search-results .item .right img{width:240px;height:120px;}
.search-results .item .left{width:900px;}
.search-results .item .results-title{margin-bottom:20px;}
.search-results .item .results-title::after{display:block;content:"";clear:both;}
.search-results .item .results-title .problem-title{color:#0cb39e;font-size:18px;float:left;}
.search-results .item .results-desc{font-size:16px;line-height:28px;color:#555;}