.head-content { height:400px;background:url(/modules/images/home/index-top.png) no-repeat center;background-size:100% 100%;}
.head-content .content{text-align: center;background-color: rgba(12, 179, 158,0.5);height:400px;}
.head-content .content .title{color:#fff;font-size:30px;padding:140px 0 120px 0;}
.head-content .content .register{color:#0cb39e;border-radius:5px;padding:15px 52px;margin-bottom:30px;cursor:pointer;background-color:#fff;font-size:24px;}

.item {
    height:500px;
    padding:30px 0;
}
.task{
    background-color:#f8f8f8;   
}
.task .list{ 
    width: 220px;
    margin: auto;
    margin-top:20px;
}
.resource .item-content{
    border-bottom:3px solid #f8f8f8;
    padding-bottom:50px;
}
.teamwork .item-content .title {     
    color:#0cb39e!important;
    margin-top:10px;
}
.item .item-content {
    width:280px;
    margin:0 auto;
    text-align:center;
}

.item .item-content .title {
    font-size:24px;
    line-height:35px;
    color:#000;
}

.item .item-content .list{
   margin-top:30px;
}

.item .item-content .list li {
    float:left;
    margin-right:10px;
    width:86px;
    text-align:center;
}

.item .item-content .list li:last-child{
    float:right;
    margin-right:0;
}

.item .item-content .list .logo {
    width:58px;
    height:58px;
    border-radius:29px;
    background-color:#ccc;
    line-height:60px;
    color:#eee;
    font-size:30px;
    margin:0 auto;
}

.item .item-content .list .hover .logo{
    background-color:#0cb39e;
    color:#fff;
}

.item .item-content .list .hover .logo-des{
    color:#0cb39e;
}

.item .item-content .list .logo-des {
    padding-top:5px;
    color:#999;
    font-size:12px;
}

.item .item-content .img {
    margin-top:30px;
}

.item .item-content .des {
    margin-top:50px;
    font-size:16px;   
    color:#777;
}
.item .item-content .des .register {
    color:#fff;
    border-radius:5px;
    padding:17px 60px;  

    background-color:#0cb39e;
    font-size:24px;
}

