/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;text-indent:3px;resize:none;}
textarea:focus { border:solid 1px #666;}

select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

header {   
    padding:10px 0px;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(0,0,0,0.8);
}
header .header{
    width:320px;
    margin:auto;
}
header .header::after{
    display:block;
    content:"";
    clear:both;
}
header .header .icon {
   font-size:34px;
    color:#fff;    
}

header .iconfont{
    font-size:34px;
    color:#fff;
    padding-right:6px;
}

header .menu { 
    width:100%;
    background-color:rgba(0,0,0,0.8);
    position:fixed;
    top:57px;
}
header .menu li{
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
}
header .menu li a{
    color:#fff;
}
header .menu .free-login a{
    color:#0cb39e;
    border-radius:5px;
    padding:5px 30px;
    margin-bottom:30px;
    background-color:#fff;
}
header .menu .free-register a{
    color:#fff;
    border-radius:5px;
    padding:5px 15px;
    margin-bottom:30px;
    background-color:#0cb39e;
}

.main-content {
    
}

footer {
    background-color:#333;
    padding:30px 0 80px 0;
}

footer .footer-content{
    width:180px;
    margin:0 auto;
}

footer .footer-content ul {
    list-style:none;
}
footer .footer-content ul li a{
    line-height:30px;
    text-align:center;
    color:#fff;
    opacity:0.8;
}

footer .footer-title {
    margin-top:20px;
    text-align:center;
    color:#fff;
    opacity:0.8;
}
