/*全局样式*/
* { padding: 0; margin: 0; font-size:14px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body {font-family:'Microsoft YaHei' !important; }
li{ list-style-type:none;}
a {  text-decoration: none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;text-indent:3px;resize:none;}
textarea:focus { border:solid 1px #666;}

select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

header {   
    padding:10px 0px;
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(250,250,250,0.97);
}
header .header{
    
    margin:auto;
}
header .header::after{
    display:block;
    content:"";
    clear:both;
}
header .header .icon {
    font-size:36px;
    color:#0cb39e;  
    margin-left:10px;  
    height:40px;
}

header .icons-menu{
    border:1px solid #0cb39e;
    border-radius:3px;
    padding:5px 15px;
    margin-right:10px;
    margin-top:5px;
    color:#0cb39e;
}

header .menu-ul { 
    width:100%;
    background-color:rgba(250,250,250,0.97);
    position:fixed;
    top:60px;
}
header .menu-ul li{
    text-align:center;
    line-height:40px;    
    margin:0px 15px 8px 15px;
}
header .menu-ul li a{
    color:#0cb39e;
    width:100%;
    height:40px;
    display:block;
}
header .menu-ul .free-login a{
    color:#fff;
    border:1px solid #0cb39e;  
    border-radius:3px;     
    background-color:#0cb39e;
}
header .menu-ul .free-register a{
    color:#0cb39e;
    border-radius:3px;
    border:1px #0cb39e solid;
}

footer {
    background-color:#333;
    padding:30px 0 80px 0;
}

footer .footer-content{
    width:200px;
    margin:0 auto;
}

footer .footer-content ul {
    list-style:none;
}
footer .footer-content ul li a{
    line-height:30px;
    text-align:center;
    color:#fff;
    opacity:0.8;
    display:block;
}

footer .footer-title {
    margin-top:20px;
    text-align:center;
    color:#fff;
    opacity:0.8;
}
@media only screen and (min-width: 768px) {
}