.head-content { height:400px;background:url(/modules/images/pricing/pricing-background1.png)no-repeat center bottom #0cb39e;background-size:100% 100%; }
.head-content .content .title{color:#fff;font-size:30px;padding:100px 0 120px 0;}
.head-content .content .title span{color:#fff;font-size:30px;text-align:center;display:block;}

.tilte-version{width:280px; margin:auto;}
.tilte-version::after{display:block;content:"";clear:both;}
.tilte-version .templent { min-height:500px;background-color:#fff;border:1px solid #ccc;border-radius:5px;}
.tilte-version .templent .title-name{height:100px;background-color:#f8f8f8;color:#000;font-size:30px;text-align:center;line-height:100px;}
.tilte-version .templent .btn-click{background-color:#0cb39e;border-radius:5px;width:100px;text-align:center;margin:auto;padding:15px 40px;margin-top:40px;cursor:pointer;}
.tilte-version .templent .btn-click-contact{border:1px solid #0cb39e;border-radius:5px;width:100px;cursor:pointer;text-align:center;margin:auto;padding:15px 40px;
                                            margin-top:40px}
.btn-click-contact a {color:#0cb39e; }
.tilte-version .templent .desc-version{width:180px;margin:auto;margin-top:60px;}
.tilte-version .templent .desc-version li{color:#666;margin-bottom:20px;}

.price-list { width:260px;margin:50px auto 0px auto; }
.price-list table { margin-bottom:20px;border-collapse:collapse;width:100%}
.price-list table td{border-top:1px solid #ccc;text-align:center;height:50px;border-bottom:0px;border-right:0px;position:relative;}
table td span{position:absolute;color: #1eb452;right:20px;}
.price-list table .time { padding:2px 0px;width:57px;}
.price-list table .hover { border:1px solid #0cb39e;background-color:#0cb39e;color:#fff;border-radius:5px;}
.price-list table .money {color:#0cb39e;float:left;margin-left:20px;font-size:16px; }
.price-list table .unit { float:right;margin-right:20px;color:#999;font-size:16px;}
.price-list table tr:first-child { background-color:#f5f5f5;}
.price-list table tr:first-child td:first-child { border-right:0;border-left:1px solid #ccc;}
.price-list table tr:first-child td:last-child { border-right:1px solid #ccc;}
.price-list table tr td:first-child{width:78px;border-right:1px solid #ccc;}
.price-list table tr:last-child td{border-bottom:1px solid #ccc;}
.price-list table .use-number {border: 1px solid #666;padding: 2px 5px;border-radius: 25px;width: 50px;margin: auto;font-size:12px; }

.else { background-color:#f8f8f8;margin-top:30px;}
.else ul{padding-bottom:40px;}
.else ul .icon{text-align:center;padding-top:20px;}
.else ul .icon .iconfont{color:#0cb39e;font-size:64px;}
.else ul .content-title { color:#333;font-size:24px;text-align:center;margin-top:20px;}
.else ul .content-desc {color:#666;text-align:center;width:210px;margin:auto; margin-top:20px;margin-bottom:40px;line-height:25px;}
.else ul .href-address { text-align:center;}
.else ul .href-address a{ color:#0cb39e;border:1px solid #0cb39e;font-size:12px;border-radius:5px;padding:5px 20px;cursor:pointer;}

