@{
    ViewBag.Title = "后台 | 添加分类";
    ViewBag.Name = "Function";
    ViewBag.navName = "add-type";
}
@section css{    
    <link href="/modules/manage/css/function/function.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/function/function"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.navName');
        });
    </script>
}
<div class="header-box">
    <a href="/Manage/Function/Function" class="header-title left">返回列表</a>   
</div>

<div class="content-body">
    <div class="">
        <ul class="table-add">            
            <li>
                <span class="column-title">类型:</span>
                <select>
                    <option data-id="0">功能</option>
                    <option data-id="1">问题</option>
                    <option data-id="2">指引</option>
                </select>
            </li>
            <li>
                 <span class="column-title">分类：</span> 
                 <span><input type="text" maxlength="20" class="type"></span>
            </li>
            <li>
                <span class="column-title">附件:</span>
                <span class="btn" style="margin:0">图片上传</span>
            </li>
            <li>
                <ul id="orderImages" class="order-imgs addimg hide">

                </ul>
            </li>
        </ul>  
        <div class="btn add-category">添加</div>
    </div>
</div>