@{
    ViewBag.Title = "后台 | 详情列表";
    ViewBag.Name = "Function";
    ViewBag.navName = "details";    
}
@section css{    
    <link href="/modules/manage/css/function/function.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/function/function"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.navName');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">内容列表</span>
    <div class="add-type"><a href="/Manage/Function/FunctionDetails">添加内容</a></div>
</div>
<div class="content-body">
    <table class="table-list category-details mTop10">
        <tr class="tr-header">        
            <td width="100" style="width:15%;">标题</td>             
            <td width="100">所属分类</td>
            <td width="100">点击次数</td>
            <td width="200">创建时间</td> 
            <td width="100">操作</td> 
        </tr>
    </table>
</div>

