@{
    ViewBag.Title = "后台 | 分类列表";
    ViewBag.Name = "Function";
    ViewBag.navName = "list-type";
}

@section css{
    <link href="/modules/manage/css/function/function.css" rel="stylesheet" />
}
@section scripts{    
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/function/function"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.navName');
        });
    </script>
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/function/type"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}
@*<div>账号:</div><input type="text" class="account" />
<div>密码:</div><input type="text" class="password" />
<div class="btn-ok hand">添加</div>*@

<div class="header-box">
    <span class="header-title left">分类列表</span>
    <div class="add-type"><a href="/Manage/Function/AddType">添加分类</a></div>
</div>

<div class="content-body">
    <table class="table-list category mTop10">
        <tr class="tr-header">        
            <td width="100">图标</td>
            <td width="100" style="width:15%">名称</td>            
            <td width="100" style="width:15%">模块</td>
            <td width="200">创建时间</td>
            <td width="120">操作</td> 
        </tr>
    </table>
    <div id="pager" class="mTop20 mRight10"></div>
</div>