@{
    ViewBag.Title = "厂盟智能 | 服务";
}
@section css{
    <link href="/modules/m/css/services.css" rel="stylesheet" /> 
}
<div class="head-content">
    <div class="content">
        <div class="title">
            <span>多年行业经验</span>
            <span>为您提供最合理的解决方案</span>
        </div>
        <ul class="trait">
            <li>
                <i class="iconfont">&#xe608;</i>
                <div class="font24 colorfff mBottom20 mTop10">专业</div>                
            </li>
            <li>
                <i class="iconfont">&#xe606;</i>
                <div class="font24 colorfff mBottom20 mTop10">专属</div>                
            </li>
            <li style="margin:0;">
                <i class="iconfont">&#xe607;</i>
                <div class="font24 colorfff mBottom20 mTop10">专注</div>               
            </li>
        </ul>        
    </div>
</div>

<div class="services-project">    
    <ul class="project">
        <li class="mTop50">
            <img src="/modules/images/services/service-pic1.png" />
            <div class="project-title">全天在线</div>
            <div class="project-desc">24小时全天候为您在线</div>
            <div class="project-desc">不论何时，第一时间解决您的疑惑</div>
        </li>
        <li>
            <img src="/modules/images/services/service-pic2.png" />
            <div class="project-title">上门培训</div>
            <div class="project-desc">覆盖地区上海、广东、浙江、江西</div>
            <div class="project-desc">综合企业特点，提供解决方案，进行演示</div>
        </li>
        <li style="margin:0">
            <img src="/modules/images/services/service-pic3.png" />
            <div class="project-title">活动沙龙</div>
            <div class="project-desc">线下组织企业成员深层交流，为企业排忧解难，促进行业间经验交流、分享</div>
            
        </li>
    </ul>
</div>

<div class="secure">    
    <ul class="secure-desc">
        <li data-id="one">
            <i class="iconfont">&#xe603;</i>
            <div class="secure-desc-title">硬件安全保障</div>
            <div class="title-desc">厂盟智能使用的是阿里巴巴聚石塔高配集群服务器，附件存储使用的是“七牛”第三方服务器存储，保障数据随时完整可用。</div>            
        </li>
        <li data-id="two">
            <i class="iconfont">&#xe604;</i>
            <div class="secure-desc-title">全面的容灾举措</div>
            <div class="title-desc">每天凌晨在多个地理位置留下加密的数据备份，同时，我们使用的是集群服务器和数据库技术，能够在最大程度上保障系统能够稳定流畅地运行。</div>          
        </li>
        <li data-id="three">
            <i class="iconfont">&#xe605;</i>
            <div class="secure-desc-title">良好的职业操守</div>
            <div class="title-desc">所有数据都经过加密存储后处理，对数据的维护操作，必须由公司技术负责人执行，其他开发团队、维护团队不能独立接触到真实客户数据。</div>           
        </li>
    </ul>    
</div>
