@{
    ViewBag.Title = "厂盟智能 | 关于";
}
@section css{
    <link href="/modules/m/css/about.css" rel="stylesheet" /> 
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>   
    <script type="text/javascript">
        seajs.use(["/modules/m/scripts/about"], function (ObjectJS) {
            ObjectJS.init();
        });        
    </script>
}
<div class="head-content">
    <div class="content">
        <div class="title">关于厂盟</div>
        <div class="title-desc">上海厂盟智能科技有限公司成立于2016年3月</div>
    </div>
</div>
<div class="synopsis">
    <div>随着人们对服装个性化需求的日益增长，服装加工已步入柔性化生产时代，这使得生产加工企业也做出了相应变革，生产企业的订单由原来的少单大量转变为现在的小量多单，这种变革给企业管理带来了不小的负担。在这样的一个背景下，“智能工厂”应运而生，智能工厂是一款面向服装生产行业的流程管理SaaS应用平台，实现订单一对一可视化管理。我们的宗旨是：让服装生产变得更简单。</div>
</div>

<div class="team">    
    <div class="host-timeline">核心团队</div>
    <div class="team-content">
        <div class="left switch switch-left"><</div>
        <div class="content-txt">
            <ul class="content" id="timeline"> 
                <li style="left:0px;">
                    <div class="mTop20">
                        <i class="left mRight5">"</i>
                        <div class="remarks">让服装生产管理更简单</div>
                    </div>
                    <div class="details">
                        <div class="head-photo" style='background:url(/modules/images/about/about1.png)no-repeat center;background-size:100%'></div>
                        <div class="desc">
                            <div>杨洪丽</div>
                            <div>首席执行官</div>
                        </div>
                    </div>
                </li>            
                <li style="left:280px;">
                    <div class="mTop20">
                        <i class="left mRight5">"</i>
                        <div class="remarks">尽心为每一家工厂服务</div>
                    </div>
                    <div class="details">
                        <div class="head-photo" style='background:url(/modules/images/about/about2.png)no-repeat center;background-size:100%'></div>
                        <div class="desc">
                            <div>饶剑</div>
                            <div>业务总监</div>
                        </div>
                    </div>
                </li>
                <li style="left:560px">
                    <div class="mTop20">
                        <i class="left mRight5">"</i>
                        <div class="remarks">希望智能工厂给大家带来更多的收益</div>
                    </div>
                    <div class="details">
                        <div class="head-photo" style='background:url(/modules/images/about/about3.png)no-repeat center;background-size:100%'></div>
                        <div class="desc">
                            <div>孙伟</div>
                            <div>产品总监</div>
                        </div>
                    </div>
                </li>
                <li style="left:840px">
                    <div class="mTop20">
                        <i class="left mRight5">"</i>
                        <div class="remarks">提高用户体验，保护数据安全</div>
                    </div>
                    <div class="details">
                        <div class="head-photo" style='background:url(/modules/images/about/about4.png)no-repeat center;background-size:100%'></div>
                        <div class="desc">
                            <div>罗坚</div>
                            <div>技术总监</div>
                        </div>
                    </div>
                </li>
                <li style="left:1120px">
                    <div class="mTop20">
                        <i class="left mRight5">"</i>
                        <div class="remarks">不断优化交互与界面，让您的选择得到更高价值</div>
                    </div>
                    <div class="details">
                        <div class="head-photo" style='background:url(/modules/images/about/zhougong.png)no-repeat center;background-size:100%'></div>
                        <div class="desc">
                            <div>周晟云</div>
                            <div>设计总监</div>
                        </div>
                    </div>
                </li>    
            </ul>            
        </div>
        <div class="switch right switch-right">></div>
    </div>        
</div>

<div class="contant-us" id="list">
    <div class="host-timeline">联系我们</div>
    <ul class="company">
        <li class="hover" data-id="shagnhai">
            <div class="title">
                <i class="iconfont">&#xe609;</i>
                <span>上海总部</span>
            </div>
            <div class="desc shagnhai">                
                <div class="email">邮箱：<a>tech@intfactory.cn</a></div>        
                <div class="address"><span class="left">地址：</span><a target="_blank" href="http://j.map.baidu.com/FvBYv">上海市长宁区中山西路1279弄6号国峰科技大厦6楼</a></div>
                <div class="code">邮编：<a>200050</a></div>
            </div>
        </li>
        <li class="hover" data-id="hangzhou">
            <div class="title">
                <i class="iconfont">&#xe609;</i>
                <span>杭州分公司</span>
            </div>
            <div class="desc hangzhou">
                <div class="phone">合作：<a>0571-56570741</a></div>
                <div class="email">邮箱：<a>customer@intfactory.cn</a></div>        
                <div class="address"><span class="left">地址：</span><a target="_blank" href="http://j.map.baidu.com/1J1EC">杭州市余杭区高教路970号联合广场6号楼5楼</a></div>
                <div class="code">邮编：<a>311100</a></div>
            </div>
        </li>
    </ul>
</div>