{%
     for(var i=0,j=$data.length; i < j ; i++){ 
        var item=$data[i],
            detail=decodeURI(item.Detail);
%}
<li class="item clear-after">
    <ul class="item-desc">
        <li class="">
            <div class="results-title clear-after">
                <a class="problem-title" href="/Problems/ProblemsDetail/{%=item.ContentID%}">{%=item.Title%}</a>
                <span class="font16"> --{%=item.ModuleType==1?"功能模块":item.ModuleType==2?"常见问题":"新手指引"%}</span>
                <div class="right coloraaa"></div>
            </div>
            <div class="results-desc">
                创建时间：<span class="">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</span>
            </div>
        </li>
        {% if(item.MainImg!=""){ %}
        <li class="right">
            <img src="{%=item.MainImg%}" />
        </li>
        {% } %}
    </ul>               
</li>


{% } %}