@{
    ViewBag.Title = "后台 | 首页";
    ViewBag.Name = "Index";
}

@section css{
    <link href="/modules/manage/css/home/index.css" rel="stylesheet" />
}
@section scripts{    
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/index"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}

<div style="margin-top:100px;text-align:center;font-size:26px;margin-left: -180px;">欢迎来到帮助中心后台</div>


