@{
    Layout = null;    
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">  
    <title>智能工厂 | 帮助中心</title>    
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/manage/css/home/login.css" rel="stylesheet" />
    <link href="/modules/manage/css/layout.css" rel="stylesheet" />
    <link href="/modules/manage/css/iconfont/iconfont.css" rel="stylesheet" />

    <script src="/Scripts/sea.js" type="text/javascript"></script>
    <script src="/Scripts/sea-config.js" type="text/javascript"></script>
    <script type="text/javascript">
        seajs.use(["/modules/manage/scripts/login"], function (login) {
            login.initLogin();
        });
    </script>
</head>
<body>
    <div class="login-body">
        <div class="main">
            <div class="login-title">厂盟-帮助中心后台</div>
            <div class="login">
                <div class="registerErr hide"></div>
                <div class="loginbar">
                    <input type="text" class="input" id="iptUserName" placeholder="请输入账号" value="" maxlength="25"/>
                </div>
                <div class="loginbar" style="position:relative;">
                    <input type="password" class="input" id="iptPwd" placeholder="请输入密码 "/>                    
                </div>
                <div class="btnLogin mTop15" id="btnLogin">登录</div>                
            </div>
        </div>
    </div>
</body>
</html>
